@use "../gloval" as *;

.staff-dt-top{
  margin-top: 80px;
  background-color: $white;
  font-family: $noto;
  @include mq("md"){
    margin-top: 118px;
  }
}
.staff-dt-top__inner{
  @include mq("md"){
      max-width: 1072px;
      margin: 0 auto;
      padding: 43px 24px;
     display: flex;
     justify-content: space-between;
  
  }
}

.staff__card__img{
  border-radius: 30px;
}

.staff-dt-top__body{
  @include mq("md"){
    padding-right: 25px;
  width: calc(605 / 980 * 100%);
  }
  @include mq("lg"){
  width: calc(605 / 980 * 100%);
}
}

.staff-dt-top__txt01{
  font-size: 24px;
  font-weight: $bold;
  margin-top: 20px;
  display: inline-block;
  background-color: white;
  padding: 3px 10px;
  @include mq("md"){
    font-size: 36px;
  }
}

.staff-dt-top__txt02{
  font-size: 20px;
  font-weight: $bold;
  margin-top: 18px;
  display: inline-block;
  background-color: white;
  padding: 3px 10px;
  @include mq("md"){
    font-size: 24px;
  }
}

.staff-dt-top__role{
  margin-top: 30px;
  color: #988C2C;
  font-size: 14px;
  font-weight: $regular;
}

.staff-dt-top__name{
  font-weight: $bold;
  font-size: 20px;
  margin-right: 20px;
  margin-top: 12px;
  display: inline-block;
  @include mq("md"){
    font-size: 24px;
  }
}

.staff-dt-top__year{
  font-size: 16px;
  color: $black;
  font-weight: $regular;
  display: inline-block;
}

.staff-dt-top__career{
  margin-top: 13px;
  font-weight: $regular;
  font-size: 16px;
  line-height: 1.8;
}

.staff-dt-top__thumb{
  margin: 40px auto 0;
  width: 300px;
  aspect-ratio: 300 / 379;
  @include mq("md"){
    margin-top: 0;
  }
}

.staff__card__img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* =========================================================
メイン
========================================================= */

.staff-dt__inner{
  margin-top: 60px;
  padding-bottom: 90px;
  font-family: $noto;
  @include mq("md"){
  margin-top: 100px;
  padding-bottom: 139px;
  }
}

.staff-dt__container{
  @include mq("lg"){
      display: flex;
     justify-content: space-between;
  }
}

.staff-dt__main{
  width: 100%;
  @include mq("lg"){
    width: calc(730 / 980 * 100%);
     position: relative;
  }
}

.staff-dt__title{
  font-weight: $bold;
  font-size: 20px;
  color: $black;
  @include mq("md"){
    font-size: 24px;
  }
}

.staff-dt__title:not(:first-child){
  margin-top: 30px;
  @include mq("md"){
    margin-top: 23px;
  }
}

.staff-dt__txt{
  margin-top: 30px;
  font-size: 15px;
  font-weight: $regular;
  color: $black;
  line-height: 1.8;
  @include mq("md"){
    margin-top: 50px;
    font-size: 16px;
  }
}
/* =========================================================
サイドバー
========================================================= */

.staff-dt__side-bar{
  display: none;
  @include mq("lg"){
    width: 230px;
    display: block;
    position: sticky;
    top:118px;
    right:0;
    height: 400px;
  }
}

.side-bar__item{
  margin-top: 13px;
  font-size: 14px;
  font-weight: $bold;
  line-height: 1.5;
  color: #999999;
  transition: 0.2s;
  cursor: pointer;
  &:hover{
    opacity: 0.8;
  }
}

.side-bar__item.is-active{
  color: $black;
  font-weight: $bold;
  font-size: 16px;
}

/* =========================================================
その他のメンバー
========================================================= */

.staff-dt__bottom{
  margin-top: 107px;
}

.staff-dt__bottom-title{
  font-size: 24px;
  font-weight: $bold;
  text-align: center;
  @include mq("md"){
    font-size: 32px;
  }
}

.staff__cards{
  margin-top: 30px;
  display: grid;
    row-gap: 28px;
    grid-template-columns: repeat(1, 1fr);
  @include mq("md"){
    margin-top: 50px;
     display: grid;
    row-gap: 36px;
    column-gap: 32px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
  }
  @include mq("lg"){
    margin-top: 50px;
   display: grid;
  row-gap: 48px;
  column-gap: 43px;
  grid-template-columns: repeat(3, 1fr);
}
}

.staff__card{
  max-width: 300px;
  margin: 0 auto;
}

.staff__card-thum{
  position: relative;
  aspect-ratio: 300 / 379;
  max-width: 300px;
}

.staff__card__img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.staff__card-title{
  position: absolute;
  bottom: -5%;
  left: 0;
}

.staff__card-text{
  font-weight: $bold;
  background: $green2;
  color: $black;
  font-size: 18px;
  white-space: nowrap;
  width: fit-content;
  padding: 0 10px;
  @include mq("md"){
    font-size: 20px;
  }
}

.staff__card-text:nth-child(2){
  margin-top: 5px;
}

.staff__card-body{
  margin-top: 36px;
}

.staff__card-role{
  color: $black;
  margin-top: 13px;
  font-size: 12px;
  font-weight: $bold;
  @include mq("md"){
    margin-top: 21px;
    font-size: 16px;
  }
}

.staff__card-name{
  font-size: 18px;
  font-weight: $bold;
  margin-top: 14px;
  color: $black;
  @include mq("md"){
    font-size: 24px;
    margin-top: 16px;
  }
}

.staff__card-role{
  color: $black;
  margin-top: 13px;
  font-size: 12px;
  font-weight: $bold;
  @include mq("md"){
    margin-top: 21px;
    font-size: 16px;
  }
}



