@use "../gloval" as *;

.staff__inner{
  padding-bottom: 130px;
}

.staff__cards{
  display: grid;
    row-gap: 28px;
    grid-template-columns: repeat(1, 1fr);
  @include mq("md"){
     display: grid;
    row-gap: 36px;
    column-gap: 32px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
  }
  @include mq("lg"){
   display: grid;
  row-gap: 48px;
  column-gap: 43px;
  grid-template-columns: repeat(3, 1fr);
}
}

.staff__card-wrap{
  max-width: 300px;
  margin: 0 auto;
  display: inline-block;
}

.staff__card-thum{
  position: relative;
}

.staff__card-title{
  position: absolute;
  bottom: -5%;
  left: 0;
  width: 84%;
  @include mq("md"){
  width: 94%;
  }
}

.staff__card-text{
  font-weight: $bold;
  background: $green;
  color: $black;
  font-size:18px;
  display: inline-block;
  @include mq("md"){
    font-size: 20px;
  }
}

.staff__card-text:nth-child(2){
  margin-top: 5px;
}

.staff__card-body{
  margin-top: 36px;
}

.staff__card-role{
  color: $black;
  margin-top: 13px;
  font-size: 12px;
  font-weight: $bold;
  @include mq("md"){
    margin-top: 21px;
    font-size: 16px;
  }
}

.staff__card-name{
  font-size: 20px;
  font-weight: $bold;
  margin-top: 14px;
  color: $black;
  @include mq("md"){
    font-size: 24px;
    margin-top: 16px;
  }
}