@use "../gloval" as *;

.staff__inner{
  padding-top: 80px;
  padding-bottom: 90px;
  @include mq("md"){
    padding-bottom: 130px;
    padding-bottom: 130px;
  }
}

.staff__cards{
  display: grid;
  row-gap: 28px;
  grid-template-columns: repeat(1, 1fr);
  @include mq("md"){
     display: grid;
    row-gap: 36px;
    column-gap: 32px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
  }
  @include mq("lg"){
   display: grid;
   row-gap: 48px;
   column-gap: 43px;
   grid-template-columns: repeat(3, 1fr);
 }
}

.staff__card-wrap{
  max-width: 300px;
  margin: 0 auto;
  display: inline-block;
  transition: 0.2s;
  &:hover{
    opacity: 0.8;
  }
}

.staff__card-thum{
  position: relative;
  aspect-ratio: 300 / 379;
  max-width: 300px;
}

.staff__card__img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.staff__card-title{
  position: absolute;
  bottom: -5%;
  left: 0;
}

.staff__card-text{
  font-weight: $bold;
  background: $green2;
  color: $black;
  font-size:18px;
  width: fit-content;
  white-space: nowrap;
  padding: 0 10px;
  @include mq("md"){
    font-size: 20px;
  }
}

.staff__card-text:nth-child(2){
  margin-top: 5px;
}

.staff__card-body{
  margin-top: 36px;
}

.staff__card-role{
  color: $black;
  margin-top: 13px;
  font-size: 12px;
  font-weight: $bold;
  @include mq("md"){
    margin-top: 21px;
    font-size: 16px;
  }
}

.staff__card-name{
  font-size: 20px;
  font-weight: $bold;
  margin-top: 14px;
  color: $black;
  @include mq("md"){
    font-size: 24px;
    margin-top: 16px;
  }
}