@charset "UTF-8";
.table-title {
  font-size: 20px;
  font-size: 700;
}
@media screen and (min-width: 768px) {
  .table-title {
    font-size: 32px;
  }
}

.table {
  margin-top: 66px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .table {
    margin-top: 113px;
  }
}

.table__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 26px;
  border-bottom: 1px dotted #222222;
}
@media screen and (min-width: 768px) {
  .table__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 36px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.table__row:not(first-child) {
  padding-top: 26px;
  font-family: "Noto Sans JP", sans-serif;
}
@media screen and (min-width: 768px) {
  .table__row:not(first-child) {
    padding-top: 36px;
  }
}

.table__head {
  font-weight: 700;
  font-size: 14px;
  width: 250px;
  color: #222222;
}
@media screen and (min-width: 768px) {
  .table__head {
    font-size: 16px;
  }
}

.table__data {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  color: #222222;
}
@media screen and (min-width: 768px) {
  .table__data {
    font-size: 16px;
  }
}

.table__data:nth-child(2) {
  margin-top: 8px;
}
@media screen and (min-width: 768px) {
  .table__data:nth-child(2) {
    margin-top: 0;
  }
}

.table__link {
  text-decoration: none;
  color: #222222;
}

.scroll__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 70px auto 0;
  width: 100%;
}

.scroll__btn {
  display: inline-block;
  padding: 18px 0;
  color: #222222;
  font-size: 20px;
  text-align: center;
  position: relative;
  border-radius: 40px;
  border: 1px solid #222222;
  background-color: #FAF7F1;
}
@media screen and (min-width: 768px) {
  .scroll__btn {
    width: 247px;
    font-size: 18px;
  }
}
@media screen and (min-width: 1024px) {
  .scroll__btn {
    width: 294px;
    font-size: 20px;
  }
}

.scroll__btn::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-right: 2px solid #111;
  border-bottom: 2px solid #111;
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg); /* 右下向きのV字を作る */
  margin-left: 6px;
}
@media screen and (min-width: 768px) {
  .scroll__btn::after {
    top: 55%;
    right: 21px;
  }
}
@media screen and (min-width: 1024px) {
  .scroll__btn::after {
    top: 55%;
    right: 30px;
  }
}

.scroll__btn::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 20px;
  background-color: #222222;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media screen and (min-width: 768px) {
  .scroll__btn::before {
    right: 25px;
  }
}
@media screen and (min-width: 1024px) {
  .scroll__btn::before {
    right: 34px;
  }
}

.details__inner {
  padding-top: 90px;
  padding-bottom: 90px;
}
@media screen and (min-width: 768px) {
  .details__inner {
    padding-bottom: 139px;
    padding-top: 145px;
  }
}

.details__title {
  font-size: 28px;
  font-weight: 700;
  color: #222222;
}
@media screen and (min-width: 768px) {
  .details__title {
    font-size: 32px;
  }
}

.details__txt {
  margin-top: 70px;
  font-size: 16px;
  color: #222222;
}
@media screen and (min-width: 768px) {
  .details__txt {
    margin-top: 113px;
  }
}

.container:first-child {
  margin-top: 97px;
}

.container:not(:first-child) {
  margin-top: 88px;
}