@charset "utf-8";
// ============================================================
// mixin
// ============================================================

//=================================
// font-size
//=================================

@mixin fz($size){
	font-size: ($size*10) + px;
	font-size: $size + rem;
}

@mixin fz_em($size,$context){
	font-size: ($size / $context) + em;
}

//=================================
// vw size
//=================================
@function vw($size, $design){
  $rate: 100 / $design;
  @return $rate * $size * 1vw;
}

//=================================
// vh size
//=================================
@function vh($size, $design){
  $rate: 100 / $design;
  @return $rate * $size * 1vh;
}

//=================================
// width size (display: flexç”¨)
//=================================
@function width($size, $design) {
  @return $size / $design * 100%;
}

//=================================
// safe-area
//=================================
@mixin safe_area {
  padding-top: constant(safe-area-inset-top);
  padding-bottom: constant(safe-area-inset-bottom);
  padding-left: constant(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

