@use "../gloval" as *;
@use "../base/base";
@use "../base/reset";
@use "../layout/header";
@use "../layout/footer";

// 共通パーツ

.inner{
  padding: 0 17px;
  @include mq("md"){
    max-width: 1074px;
    margin: 0 auto;
  }
}

.btn{
  display: block;
  text-align: center;
  cursor: pointer;
}

// sp、pc表示の有無
.md-none{
  @include mq("md"){
    display: none !important;
  }
}

.md-show{
  display: none !important;
  @include mq("md"){
    display: block !important;
  }
}








