@use "../gloval" as *;
@use "../base/base";
@use "../base/reset";
@use "../layout/header";
@use "../layout/footer";

/* =========================================================
共通パーツ
========================================================= */

.inner{
  padding: 0 17px;
  @include mq("md"){
    max-width: 1024px;
    padding: 0 34px;
    margin: 0 auto;
  }
}

.btn{
  display: block;
  text-align: center;
  cursor: pointer;
}

// ローディング


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.loading {
  position: fixed;
  inset: 0;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.6s ease;
}

.loading__text {
  font-size: 32px;
  font-weight: 700;
  color: $green;
  animation: blink 1.2s ease-in-out infinite;
  text-transform: lowercase;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


// spでは非表示
.md-none{
  @include mq("md"){
    display: none !important;
  }
}

// pcで表示
.md-show{
  display: none !important;
  @include mq("md"){
    display: block !important;
  }
}

// display: flex;が要素に指定してある場合
.md-show-for-flex{
  display: none !important;
  @include mq("md"){
    display: flex !important;
  }
}








