@use "../gloval" as *;
@use "../base/base";
@use "../base/reset";
@use "../layout/header";
@use "../layout/footer";

/* =========================================================
共通パーツ
========================================================= */

.inner{
  padding: 0 17px;
  @include mq("md"){
    max-width: 1024px;
    padding: 0 34px;
    margin: 0 auto;
  }
}

.btn{
  display: block;
  text-align: center;
  cursor: pointer;
}

// spでは非表示
.md-none{
  @include mq("md"){
    display: none !important;
  }
}

// pcで表示
.md-show{
  display: none !important;
  @include mq("md"){
    display: block !important;
  }
}

// display: flex;が要素に指定してある場合
.md-show-for-flex{
  display: none !important;
  @include mq("md"){
    display: flex !important;
  }
}








