@use "../gloval" as *;

// input, textarea, selectの共通css
.input--appearence{
  padding: 20px;
  background-color: #FAF7F1;
  border: 1px solid #988C2C;
  border-radius: 10px;
}

.contact__inner{
  margin-top: 100px;
  background-color: white;
  @include mq("md"){
    padding: 58px 71px 81px;
    max-width: 880px;
    margin: 0 auto;
    margin-top: 172px;
  }
}

.contact__title-wrap{
  max-width: 510px;
  margin: 0 auto;
  padding-bottom: 95px;
}

.contact__title-eng{
  font-size: 20px;
  font-weight: $regular;
  color: $black;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  @include mq("md"){
    font-size: 24px;
  }
}

.contact__title-ja{
  font-size: 28px;
  font-weight: $bold;
  color: $black;
  margin-top: 20px;
  text-align: center;
  @include mq("md"){
    font-size: 32px;
    margin-top: 29px;
  }
}

.contact__title--red, .contact__txt--red{
  color: #988C2C;
}

.contact__txt{
  margin-top: 36px;
  font-size: 14px;
  color: $black;
  @include mq("md"){
    font-size: 16px;
    margin-top: 51px;
  }
}

.contact__body-wrap{
  padding-top: 60px;
  border-top: 1px solid #988C2C;
  @include mq("md"){
    padding-top: 97px;
  }
}

.contact__group{
  align-items: center;
  width: 100%;
  @include mq("md"){
    display: flex;
    align-items: center;
  }
}

.contact__group:not(first-child){
  margin-top: 27px;
}

.contact__label{
  font-size: 16px;
  font-weight: $regular;
  color: $black;
  width: calc(163 / 738 * 100%);
  padding-right: 20px;
}

.contact__input, .contact__select, .contact__textarea{
  padding: 20px;
  background-color: #FAF7F1;
  border: 1px solid #988C2C;
  border-radius: 10px;
  margin-top: 20px;
  @include mq("md"){
    margin-top: 0;
  }
}

.contact__input{
    width: 100%;
    @include mq("md"){
      width: calc(575 / 738 * 100%);
  }
}

.contact__field{
  @include mq("md"){
    display: flex;
    align-items: center;
  }
}

.contact__input--year, .contact__select--month,.contact__select--day{
  width: 100%;
  position: relative;
}

.contact__input-wrap, .contact__select-wrap{
  position: relative;
  width: 100%;
  @include mq("md"){
    width: 168px;
  }
}

.contact__select-wrap{
  &:after{
    border-bottom: 1px solid $black;
    border-left: 1px solid $black;
    content: "";
    height: 9px;
    transform: translateY(-60%) rotate(-45deg);
    width: 9px;
    position: absolute;
    left: 80%;
    top: 50%;
  }
}

.contact__label::placeholder{
  color: #757575;
  font-size: 16px;
  font-weight: $regular;
}

.contact__field-group{
  margin-top: 27px;
  @include mq("md"){
    display: flex;
  }
}

.contact__field-wrap{
  column-gap: 25px;
  margin-top: 27px;
  @include mq("md"){
    display: flex;
    column-gap: 25px;
  }
}

.contact__select{
  font-size: 12px;
}

.contact__suffix{
  display: block;
  margin-left: 10px;
}


.contact__group--job{
  align-items: start;
}

.contact__choice:not(:first-child){
  margin-top: 18px;

}

.contact__choice > label{
  position: relative;
  padding-left: 30px;
  &::before{
    content: "";
    width: 24px;
    height: 24px;
    background-color: #FAF7F1;
    border: 1px solid #AFA86F;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
}

.contact__choice._round > label{
  &::before{
    border-radius: 50%;
  }
}

.contact__choice > label:has(input:checked)::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #000;
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
}

.contact__choice._round > label:has(input:checked)::after {
  border-radius: 50%;
}

.contact__textarea{
   width: 100%;
   @include mq("md"){
     width: calc(575 / 738 * 100%);
  }
}

.contact__group--known{
  align-items: start;
}

.contact__choice{
  border-radius: 0;
}

.contact__choice.contact__group--agree{
  margin-top: 99px;
  text-align: center;
}

.contact__actions{
  width: 100%;
  text-align: center;
  border: 1px solid $black;
  margin: 59px auto 0;
  @include mq("md"){
    width: 256px;
  }
}

.contact__submit{
  padding: 20px 0;
  width: 100%;
  font-size: 16px;
  color: $black;
}



