@use "../gloval" as *;

.contact{
  font-family: $noto;
  background-color: $white;
  margin-top: 80px;
  @include mq("md"){
    margin-top: 118px;
  }
}

// sp版のときに入力要素にmargin-topを付与
.sp--md10{
  margin-top: 10px;
  @include mq("md"){
    margin-top: 0;
  }
}

// input, textarea, selectの共通css
.input--appearence{
  padding: 20px;
  background-color: #FAF7F1;
  border: 1px solid #988C2C;
  border-radius: 10px;
}

.contact__inner{
  margin-top: 20px;
  background-color: white;
  padding-bottom: 90px;
  @include mq("md"){
    padding: 58px 71px 81px;
    max-width: 880px;
    margin: 0 auto;
    margin-top: 32px;
  }
}

.contact__title-wrap{
  max-width: 510px;
  margin: 0 auto;
  padding-bottom: 95px;
}

.contact__title-eng{
  font-size: 20px;
  font-weight: $regular;
  color: $black;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  @include mq("md"){
    font-size: 24px;
  }
}

.contact__title-ja{
  font-size: 28px;
  font-weight: $bold;
  color: $black;
  margin-top: 20px;
  text-align: center;
  @include mq("md"){
    font-size: 32px;
    margin-top: 29px;
  }
}

.contact__title--red, .contact__txt--red{
  color: #988C2C;
}

.contact__txt{
  margin-top: 36px;
  font-size: 14px;
  color: $black;
  @include mq("md"){
    font-size: 16px;
    margin-top: 51px;
  }
}

/* =========================================================
contact必要事項入力エリア
========================================================= */

.contact__body-wrap{
  padding-top: 60px;
  border-top: 1px solid #988C2C;
  @include mq("md"){
    padding-top: 97px;
  }
}

.contact__field{
  display: flex;
  align-items: center;
}

.contact__group{
  width: 100%;
  position: relative;
  @include mq("md"){
    display: flex;
    align-items: center;
  }
}

.contact__group:not(first-child){
  margin-top: 27px;
}

// input, textarea, selectの共通css
.input--appearence{
  padding: 20px;
  background-color: #FAF7F1;
  border: 1px solid #988C2C;
  border-radius: 10px;
  width: 100%;
    @include mq("md"){
      width: calc(575 / 738 * 100%);
  }
}

.contact__label{
  font-size: 16px;
  font-weight: $regular;
  color: $black;
  width: 100%;
  padding-right: 20px;
  @include mq("md"){
     width: calc(163 / 738 * 100%);
  }
}

.contact__input, .contact__select, .contact__textarea{
  @include mq("md"){
    margin-top: 0;
  }
}


.contact__input--year, .contact__select--month,.contact__select--day{
  width: 100%;
  position: relative;
}

.contact__input-wrap, .contact__select-wrap{
  position: relative;
  width: 100%;
  @include mq("md"){
    width: 168px;
  }
}

.contact__birth-wrap{
  width: 200px;
  @include mq("md"){
    width: auto;
  }
}

.contact__select-wrap{
  &:after{
    border-bottom: 1px solid $black;
    border-left: 1px solid $black;
    content: "";
    height: 9px;
    transform: translateY(-60%) rotate(-45deg);
    width: 9px;
    position: absolute;
    right: 9%;
    top: 50%;
  }
  @include mq("md"){
    margin-top: 0;
    &:after{
      right:11%;
    }
  }
}

.contact__label::placeholder{
  color: #757575;
  font-size: 16px;
  font-weight: $regular;
}

.contact__field-group{
  margin-top: 27px;
  position: relative;
  @include mq("md"){
    display: flex;
  }
}

.contact__field-wrap{
  @include mq("md"){
    display: flex;
    column-gap: 25px;
  }
}

.contact__field--month, .contact__field--day{
  margin-top: 27px;
}

.contact__select{
  font-size: 14px;
  color: $black;
}

.contact__suffix{
  display: block;
  margin-left: 10px;
}


.contact__group--job{
  align-items: start;
}

.contact__choice:not(:first-child){
  margin-top: 18px;

}

.label--click-area{
  position: relative;
  padding-left: 30px;
  &::before{
    content: "";
    width: 24px;
    height: 24px;
    background-color: #FAF7F1;
    border: 1px solid #AFA86F;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
}

.label--click-area._round{
  &::before{
    border-radius: 50%;
  }
}

.label--click-area:has(input:checked)::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #000;
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
}

.label--click-area._round:has(input:checked)::after {
  border-radius: 50%;
}

.contact__group--known{
  align-items: start;
}

.contact__group--agree{
  margin-top: 70px;
  text-align: center;
  position: relative;
  @include mq("md"){
    margin-top: 99px;
  }
}

.contact__actions{
  width: 256px;
  text-align: center;
  border: 1px solid $black;
  margin: 59px auto 0;
}

.contact__submit{
  padding: 20px 0;
  width: 100%;
  font-size: 16px;
  color: $black;
}

.contact__submit:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* =========================================================
エラーメッセージ
========================================================= */
.form-error{
  position: absolute;
  bottom: -24px;
  color: red;
  font-size: 12px;
  left:0;
  @include mq("md"){
    left:calc(167 / 738 * 100%);
    font-size: 14px;
  }
}

.contact__group--agree > .form-error{
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}


/* =========================================================
送信後の完了メッセージの非表示
========================================================= */

.wpcf7 form.sent .wpcf7-response-output {
  display: none;
}


