@use "../gloval" as *;

.thanks{
  background-color: $white;
  padding: 32px 0;
  margin-bottom: 139px;
  margin-top: 80px;
  @include mq("md"){
    margin-top: 118px;
  }
}

.thanks__inner{
  max-width: 880px;
  padding:  30px 17px 50px;
  margin: 0 auto;
  background-color: white;
  @include mq("md"){
    padding:  58px 22px 95px;
  }
}

.thanks__title{
  font-size: 24px;
  font-weight: $bold;
  text-align: center;
  @include mq("md"){
    font-size: 32px; 
  }
}

.thanks__sub{
  text-align: center;
  font-size: 16px;
  margin-top: 51px;
  font-weight: $regular;
}

