@charset "UTF-8";
.message-dt {
  background-color: #FAF7F1;
  margin-top: 118px;
  padding-bottom: 139px;
}

.message-dt__inner {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: white;
}

.message-dt__tag {
  font-size: 14px;
  font-weight: 300;
  color: #222222;
  display: inline-block;
  color: #222222;
  position: relative;
  padding-left: 17px;
}
.message-dt__tag::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 12px;
  height: 14px;
  background: url("../../images/blog-tag-img.svg") no-repeat center center/contain;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media screen and (min-width: 768px) {
  .message-dt__tag::before {
    width: 14px;
    height: 14px;
  }
}

.message-dt__time {
  margin-left: 20px;
  font-size: 14px;
  font-weight: 300;
  color: #222222;
  display: inline-block;
}

.message-dt__title {
  font-size: 32px;
  font-weight: 700;
  margin-top: 25px;
  color: #222222;
}
.message-dt__img-wrap {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  aspect-ratio: 720/411;
}

.message-dt__txt01 {
  margin-top: 45px;
  line-height: 1.8;
}

.message-dt__txt02 {
  margin-top: 23px;
}

.message-dt__txt02 p {
  line-height: 1.8;
}

/* =========================================================
ページネーション
========================================================= */
.pagination {
  text-align: center;
}

.pagination .page-numbers {
  display: inline-block;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 58px;
  height: 58px;
  margin: 98px 32px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background: #fff;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  line-height: 58px;
}

.pagination .page-numbers:hover {
  background: #222222;
  color: #fff;
  border-color: #222222;
}

.pagination .page-numbers.current {
  background: #222222;
  color: #fff;
  border-color: #222222;
}

.pagination .prev,
.pagination .next {
  display: none;
}

/* =========================================================
single.pageの前後の記事のページネーション
========================================================= */
.message-nav {
  background-color: #F0F0F0;
}

.message-nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
  padding: 38px 50px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.message-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  height: 100%;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  width: 50%;
}

.massage-nav__item:first-child {
  padding-right: 20px;
}

.message-nav__item:nth-child(2) {
  border-left: 1px solid #222222;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-left: 20px;
}

.message-nav__btn {
  width: 24px;
  height: 24px;
  position: relative;
  border: 2px solid #222222;
  border-radius: 50%;
}

.message-nav__btn._prev::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 7px;
  height: 7px;
  border-left: 2px solid #222222;
  border-bottom: 2px solid #222222;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

.message-nav__btn._next::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 7px;
  height: 7px;
  border-right: 2px solid #222222;
  border-top: 2px solid #222222;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

.message-nav__title-wrap {
  width: 70%;
}

.message-nav__title {
  font-size: 16px;
  font-weight: 300;
  color: #222222;
}

.message-nav__time {
  font-size: 12px;
  font-weight: 300;
  color: #222222;
  margin-top: 6px;
}