@charset "UTF-8";
.staff-dt-top {
  margin-top: 80px;
  background-color: #FAF7F1;
  font-family: "Noto Serif JP", sans-serif;
}
@media screen and (min-width: 768px) {
  .staff-dt-top {
    margin-top: 118px;
  }
}

@media screen and (min-width: 768px) {
  .staff-dt-top__inner {
    max-width: 1072px;
    margin: 0 auto;
    padding: 43px 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.staff__card__img {
  border-radius: 30px;
}

@media screen and (min-width: 768px) {
  .staff-dt-top__body {
    padding-right: 25px;
    width: 61.7346938776%;
  }
}
@media screen and (min-width: 1024px) {
  .staff-dt-top__body {
    width: 61.7346938776%;
  }
}

.staff-dt-top__txt01 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 20px;
  display: inline-block;
  background-color: white;
  padding: 3px 10px;
}
@media screen and (min-width: 768px) {
  .staff-dt-top__txt01 {
    font-size: 36px;
  }
}

.staff-dt-top__txt02 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 18px;
  display: inline-block;
  background-color: white;
  padding: 3px 10px;
}
@media screen and (min-width: 768px) {
  .staff-dt-top__txt02 {
    font-size: 24px;
  }
}

.staff-dt-top__role {
  margin-top: 30px;
  color: #988C2C;
  font-size: 14px;
  font-weight: 300;
}

.staff-dt-top__name {
  font-weight: 700;
  font-size: 20px;
  margin-right: 20px;
  margin-top: 12px;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .staff-dt-top__name {
    font-size: 24px;
  }
}

.staff-dt-top__year {
  font-size: 16px;
  color: #222222;
  font-weight: 300;
  display: inline-block;
}

.staff-dt-top__career {
  margin-top: 13px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.8;
}

.staff-dt-top__thumb {
  margin: 40px auto 0;
  width: 300px;
}
@media screen and (min-width: 768px) {
  .staff-dt-top__thumb {
    margin-top: 0;
  }
}

/* =========================================================
メイン
========================================================= */
.staff-dt__inner {
  margin-top: 60px;
  padding-bottom: 90px;
  font-family: "Noto Serif JP", sans-serif;
}
@media screen and (min-width: 768px) {
  .staff-dt__inner {
    margin-top: 100px;
    padding-bottom: 139px;
  }
}

@media screen and (min-width: 1024px) {
  .staff-dt__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.staff-dt__main {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .staff-dt__main {
    width: 74.4897959184%;
    position: relative;
  }
}

.staff-dt__title {
  font-weight: 700;
  font-size: 20px;
  color: #222222;
}
@media screen and (min-width: 768px) {
  .staff-dt__title {
    font-size: 24px;
  }
}

.staff-dt__title:not(:first-child) {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .staff-dt__title:not(:first-child) {
    margin-top: 23px;
  }
}

.staff-dt__txt {
  margin-top: 30px;
  font-size: 15px;
  font-weight: 300;
  color: #222222;
  line-height: 1.8;
}
@media screen and (min-width: 768px) {
  .staff-dt__txt {
    margin-top: 50px;
    font-size: 16px;
  }
}

/* =========================================================
サイドバー
========================================================= */
.staff-dt__side-bar {
  display: none;
}
@media screen and (min-width: 1024px) {
  .staff-dt__side-bar {
    width: 230px;
    display: block;
    position: sticky;
    top: 118px;
    right: 0;
    height: 400px;
  }
}

.side-bar__item {
  margin-top: 13px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  color: #999999;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
.side-bar__item:hover {
  opacity: 0.8;
}

.side-bar__item.is-active {
  color: #222222;
  font-weight: 700;
  font-size: 16px;
}

/* =========================================================
その他のメンバー
========================================================= */
.staff-dt__bottom {
  margin-top: 107px;
}

.staff-dt__bottom-title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .staff-dt__bottom-title {
    font-size: 32px;
  }
}

.staff__cards {
  margin-top: 30px;
  display: grid;
  row-gap: 28px;
  grid-template-columns: repeat(1, 1fr);
}
@media screen and (min-width: 768px) {
  .staff__cards {
    margin-top: 50px;
    display: grid;
    row-gap: 36px;
    -webkit-column-gap: 32px;
    -moz-column-gap: 32px;
    column-gap: 32px;
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .staff__cards {
    margin-top: 50px;
    display: grid;
    row-gap: 48px;
    -webkit-column-gap: 43px;
    -moz-column-gap: 43px;
    column-gap: 43px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.staff__card {
  max-width: 300px;
  margin: 0 auto;
}

.staff__card-thum {
  position: relative;
}

.staff__card-title {
  position: absolute;
  bottom: -5%;
  left: 0;
  width: 94%;
}
@media screen and (min-width: 768px) {
  .staff__card-title {
    width: 94%;
  }
}

.staff__card-text {
  font-weight: 700;
  background: #988C2C;
  color: #222222;
  font-size: 18px;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .staff__card-text {
    font-size: 20px;
  }
}

.staff__card-text:nth-child(2) {
  margin-top: 5px;
}

.staff__card-body {
  margin-top: 36px;
}

.staff__card-role {
  color: #222222;
  margin-top: 13px;
  font-size: 12px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .staff__card-role {
    margin-top: 21px;
    font-size: 16px;
  }
}

.staff__card-name {
  font-size: 18px;
  font-weight: 700;
  margin-top: 14px;
  color: #222222;
}
@media screen and (min-width: 768px) {
  .staff__card-name {
    font-size: 24px;
    margin-top: 16px;
  }
}

.staff__card-role {
  color: #222222;
  margin-top: 13px;
  font-size: 12px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .staff__card-role {
    margin-top: 21px;
    font-size: 16px;
  }
}