.staff__inner {
  padding-top: 80px;
  padding-bottom: 90px;
}
@media screen and (min-width: 768px) {
  .staff__inner {
    padding-bottom: 130px;
    padding-bottom: 130px;
  }
}

.staff__cards {
  display: grid;
  row-gap: 28px;
  grid-template-columns: repeat(1, 1fr);
}
@media screen and (min-width: 768px) {
  .staff__cards {
    display: grid;
    row-gap: 36px;
    -webkit-column-gap: 32px;
    -moz-column-gap: 32px;
    column-gap: 32px;
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .staff__cards {
    display: grid;
    row-gap: 48px;
    -webkit-column-gap: 43px;
    -moz-column-gap: 43px;
    column-gap: 43px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.staff__card-wrap {
  max-width: 300px;
  margin: 0 auto;
  display: inline-block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.staff__card-wrap:hover {
  opacity: 0.8;
}

.staff__card-thum {
  position: relative;
}

.staff__card-title {
  position: absolute;
  bottom: -5%;
  left: 0;
  width: 84%;
}
@media screen and (min-width: 768px) {
  .staff__card-title {
    width: 94%;
  }
}

.staff__card-text {
  font-weight: 700;
  background: #988C2C;
  color: #222222;
  font-size: 18px;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .staff__card-text {
    font-size: 20px;
  }
}

.staff__card-text:nth-child(2) {
  margin-top: 5px;
}

.staff__card-body {
  margin-top: 36px;
}

.staff__card-role {
  color: #222222;
  margin-top: 13px;
  font-size: 12px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .staff__card-role {
    margin-top: 21px;
    font-size: 16px;
  }
}

.staff__card-name {
  font-size: 20px;
  font-weight: 700;
  margin-top: 14px;
  color: #222222;
}
@media screen and (min-width: 768px) {
  .staff__card-name {
    font-size: 24px;
    margin-top: 16px;
  }
}