@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Viga", "Noto Serif JP", sans-serif;
  line-height: 1.75;
  font-size: 16px;
  color: #222222;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
}

a, button {
  text-decoration: none;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
a:hover, button:hover {
  opacity: 0.7;
}

a[href^="tel:"] {
  pointer-events: none;
}
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: auto;
  }
}

img {
  width: 100%;
  height: auto;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  outline: none;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
  padding: 0;
}

textarea {
  resize: vertical;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.btn--small {
  width: 126px;
  padding: 14px 0;
  color: #FAF7F1;
}

.btn--medium {
  width: 248px;
  padding: 14px 0;
  color: #FAF7F1;
}

.btn--black {
  background-color: #222222;
}

.btn--green {
  background-color: #988C2C;
}

/* =========================================================
header
========================================================= */
.header {
  position: fixed;
  inset: 0 0 auto 0;
  z-index: 200;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 12px;
  height: 80px;
}
@media screen and (min-width: 768px) {
  .header {
    height: 118px;
    padding: 30px;
  }
}

.header__logo {
  width: 154px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 250px;
  }
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__right .hamburger {
  margin-left: 40px;
}

.header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__btns .btn:nth-child(2) {
  margin-left: 22px;
}

.header__btns .btn {
  font-size: 14px;
  font-weight: 700;
}

/* =========================================================
  ハンパーガー
========================================================= */
.hamburger {
  z-index: 1000;
  width: 32px;
}
@media screen and (min-width: 768px) {
  .hamburger {
    width: 52px;
  }
}

.hamburger__lines {
  height: 21px;
  position: relative;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .hamburger__lines {
    height: 31px;
  }
}

.hamburger span {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #fff;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: opacity 0.2s ease, top 0.2s ease, bottom 0.2s ease, -webkit-transform 0.25s ease;
  transition: opacity 0.2s ease, top 0.2s ease, bottom 0.2s ease, -webkit-transform 0.25s ease;
  transition: transform 0.25s ease, opacity 0.2s ease, top 0.2s ease, bottom 0.2s ease;
  transition: transform 0.25s ease, opacity 0.2s ease, top 0.2s ease, bottom 0.2s ease, -webkit-transform 0.25s ease;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  top: 9px;
}
@media screen and (min-width: 768px) {
  .hamburger span:nth-child(2) {
    top: 15px;
  }
}

.hamburger span:nth-child(3) {
  bottom: 0;
}

.hamburger.is-open span:nth-child(1) {
  top: 9px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
@media screen and (min-width: 768px) {
  .hamburger.is-open span:nth-child(1) {
    top: 15px;
  }
}

.hamburger.is-open span:nth-child(2) {
  opacity: 0;
}

.hamburger.is-open span:nth-child(3) {
  bottom: auto;
  top: 9px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
@media screen and (min-width: 768px) {
  .hamburger.is-open span:nth-child(3) {
    top: 15px;
  }
}

.hamburger.is-open span {
  background-color: #222222;
}

.hamburger__text {
  font-size: 10px;
  color: #FAF7F1;
  text-align: center;
  font-weight: 300;
  margin-top: 5px;
}
@media screen and (min-width: 768px) {
  .hamburger__text {
    font-size: 12px;
    margin-top: 10px;
  }
}

/* =========================================================
  Drawer
========================================================= */
.drawer {
  width: 100%;
  height: 100vh;
  background-color: #FAF7F1;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  z-index: 100;
}

.drawer.is-open {
  display: grid;
  opacity: 1;
}

.drawer__inner {
  height: inherit;
  width: 100%;
  position: relative;
}

.gnav {
  height: inherit;
  padding: 90px 12px 53px 12px;
}
@media screen and (min-width: 768px) {
  .gnav {
    position: absolute;
    top: 50%;
    right: 9%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: auto;
    border-left: 1px solid #988C2C;
    padding: 0;
  }
}
@media screen and (min-width: 768px) and (min-width: 1024px) {
  .gnav::before {
    content: "";
    position: absolute;
    top: 50%;
    right: calc(100% + 63px);
    width: 250px;
    height: 61px;
    background: url("../../images/title-black.svg") no-repeat center/contain;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1000;
  }
}

@media screen and (min-width: 768px) {
  .gnav__col {
    width: 248px;
    border-top: 1px solid #988C2C;
  }
}

@media screen and (min-width: 768px) {
  .gnav__col:nth-child(2) {
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .gnav__cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 63px;
  }
}

.gnav__list {
  height: inherit;
}

.gnav__item {
  height: inherit;
  border-bottom: 1px solid #988C2C;
}

.gnav__link {
  display: inline-block;
  padding: 13px 0;
  color: #222222;
  height: inherit;
}
@media screen and (min-width: 768px) {
  .gnav__link {
    padding: 23px 0;
  }
}

.gnav__title {
  font-size: 18px;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  .gnav__title {
    font-size: 32px;
  }
}

.gnav__subtitle {
  font-size: 12px;
  font-weight: 700;
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .gnav__subtitle {
    font-size: 16px;
    margin-top: 11px;
  }
}

.gnav__btns {
  margin-top: 53px;
}
@media screen and (min-width: 768px) {
  .gnav__btns {
    margin-left: 63px;
  }
}

.gnav__btns .btn:nth-child(2) {
  margin-top: 13px;
}
@media screen and (min-width: 768px) {
  .gnav__btns .btn:nth-child(2) {
    margin-top: 0;
    margin-left: 30px;
  }
}

.inner {
  padding: 0 17px;
}
@media screen and (min-width: 768px) {
  .inner {
    max-width: 1074px;
    margin: 0 auto;
  }
}

.btn {
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .md-none {
    display: none !important;
  }
}

.md-show {
  display: none !important;
}
@media screen and (min-width: 768px) {
  .md-show {
    display: block !important;
  }
}