@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Viga", "Noto Serif JP", sans-serif;
  line-height: 1.75;
  font-size: 16px;
  color: #222222;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
}

a, button {
  text-decoration: none;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
a:hover, button:hover {
  opacity: 0.7;
}

a[href^="tel:"] {
  pointer-events: none;
}
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: auto;
  }
}

img {
  width: 100%;
  height: auto;
}
img.self-size {
  max-width: 100%;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  outline: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
  padding: 0;
}

textarea {
  resize: vertical;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

/* =========================================================
header
========================================================= */
.header {
  position: fixed;
  inset: 0 0 auto 0;
  z-index: 50;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 12px;
  height: 56px;
}
@media screen and (min-width: 768px) {
  .header {
    height: 118px;
    padding: 30px;
  }
}

.header__logo {
  width: 154px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 250px;
  }
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__right .hamburger {
  margin-left: 40px;
}

.header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__btns .btn:nth-child(2) {
  margin-left: 22px;
}

.header__btns .btn {
  font-size: 14px;
  font-weight: 700;
}

/* =========================================================
  ハンパーガー
========================================================= */
.hamburger {
  width: 32px;
}
@media screen and (min-width: 768px) {
  .hamburger {
    width: 52px;
  }
}

.hamburger__lines {
  height: 21px;
  position: relative;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .hamburger__lines {
    height: 31px;
  }
}

.hamburger__lines span {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #fff;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: opacity 0.2s ease, top 0.2s ease, bottom 0.2s ease, -webkit-transform 0.25s ease;
  transition: opacity 0.2s ease, top 0.2s ease, bottom 0.2s ease, -webkit-transform 0.25s ease;
  transition: transform 0.25s ease, opacity 0.2s ease, top 0.2s ease, bottom 0.2s ease;
  transition: transform 0.25s ease, opacity 0.2s ease, top 0.2s ease, bottom 0.2s ease, -webkit-transform 0.25s ease;
}

.hamburger__text {
  font-size: 10px;
  color: #FAF7F1;
  text-align: center;
  font-weight: 300;
  margin-top: 5px;
}
@media screen and (min-width: 768px) {
  .hamburger__text {
    font-size: 12px;
    margin-top: 10px;
  }
}

.hamburger__lines span:nth-child(1) {
  top: 0;
}

.hamburger__lines span:nth-child(2) {
  top: 9px;
}
@media screen and (min-width: 768px) {
  .hamburger__lines span:nth-child(2) {
    top: 15px;
  }
}

.hamburger__lines span:nth-child(3) {
  bottom: 0;
}

.hamburger.is-open .hamburger__lines span:nth-child(1) {
  top: 9px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
@media screen and (min-width: 768px) {
  .hamburger.is-open .hamburger__lines span:nth-child(1) {
    top: 15px;
  }
}

.hamburger.is-open .hamburger__lines span:nth-child(2) {
  opacity: 0;
}

.hamburger.is-open .hamburger__lines span:nth-child(3) {
  bottom: auto;
  top: 9px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
@media screen and (min-width: 768px) {
  .hamburger.is-open .hamburger__lines span:nth-child(3) {
    top: 15px;
  }
}

/* =========================================================
  Drawer
========================================================= */
.drawer {
  width: 100%;
  height: 100vh;
  background-color: #FAF7F1;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  z-index: 1000;
}

.drawer.is-open {
  display: grid;
  opacity: 1;
}

.drawer__inner {
  padding: 90px 12px 53px 12px;
  height: inherit;
}

.gnav {
  height: inherit;
}

.gnav__cols {
  height: inherit;
}

.gnav__list {
  height: inherit;
}

.gnav__item {
  height: inherit;
  border-bottom: 1px solid #988C2C;
}

.gnav__link {
  display: inline-block;
  padding: 13px 0;
  color: #222222;
  height: inherit;
}

.gnav__title {
  font-size: 18px;
  font-weight: 300;
}

.gnav__subtitle {
  font-size: 12px;
  font-weight: 700;
  margin-top: 10px;
}

.btn {
  display: inline-block;
  color: #FAF7F1;
  text-align: center;
}

.btn--small {
  width: 126px;
  padding: 14px 0;
}

.btn--medium {
  width: 248px;
  padding: 14px 0;
}

.btn--large {
  width: 355px;
  padding: 30px 0;
}

.btn--xlarge {
  width: 956px;
  padding: 50px 0;
}

.btn--black {
  background-color: #222222;
}

.btn--green {
  background-color: #988C2C;
}

.btn--white {
  background-color: #FAF7F1;
}

.btn--arrow {
  position: relative;
}
.btn--arrow:after {
  border-right: 3px solid #222222;
  border-top: 3px solid #222222;
  bottom: 0;
  content: "";
  height: 20px;
  margin: auto;
  position: absolute;
  right: 40px;
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 20px;
}

.btn-round {
  border-radius: 50%;
  border: 1px solid #222222;
}

.btn-round--small {
  width: 40px;
  height: 40px;
}

.btn-round--large {
  width: 58px;
  height: 58px;
}

.btn-round--arrow {
  position: relative;
}
.btn-round--arrow:before, .btn-round--arrow:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
}

.btn-round--arrow {
  position: relative;
}
.btn-round--arrow:before {
  width: 16px;
  height: 2px;
  -webkit-transform: translate(-3px, -50%);
  transform: translate(-3px, -50%);
}
.btn-round--arrow:after {
  width: 8px;
  height: 8px;
  border-left: 2px solid #222222;
  border-top: 2px solid #222222;
  -webkit-transform: translate(-9px, -50%) rotate(-45deg);
  transform: translate(-9px, -50%) rotate(-45deg);
}

.btn-round--arrow._reverse:before {
  width: 16px;
  height: 2px;
  background: currentColor;
  -webkit-transform: translate(-3px, -50%);
  transform: translate(-3px, -50%);
}
.btn-round--arrow._reverse:after {
  width: 8px;
  height: 8px;
  border-left: 2px solid #222222;
  border-top: 2px solid #222222;
  -webkit-transform: translate(-9px, -50%) rotate(-45deg);
  transform: translate(-9px, -50%) rotate(-45deg);
}

.font--white {
  color: #FAF7F1;
}

@media screen and (min-width: 768px) {
  .md-none {
    display: none !important;
  }
}

.md-show {
  display: none !important;
}
@media screen and (min-width: 768px) {
  .md-show {
    display: block !important;
  }
}