@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Viga", "Noto Serif JP", sans-serif;
  line-height: 1.75;
  font-size: 16px;
  color: #222222;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
}

a, button {
  text-decoration: none;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  cursor: pointer;
}

a[href^="tel:"] {
  pointer-events: none;
}
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: auto;
  }
}

img {
  width: 100%;
  height: auto;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  outline: none;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
  padding: 0;
}

textarea {
  resize: vertical;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0; /* デフォルトの枠線を消す */
  min-width: 0; /* Chrome/Safari で幅が縮まらないのを防ぐ */
}

.btn--small {
  width: 126px;
  padding: 14px 0;
  color: #FAF7F1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.btn--medium {
  width: 248px;
  padding: 14px 0;
  color: #FAF7F1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.btn--black {
  background-color: #222222;
}
@media screen and (min-width: 768px) {
  .btn--black:hover {
    background-color: white;
    color: #222222;
  }
}

.btn--ochres {
  background-color: #AFA86F;
}
@media screen and (min-width: 768px) {
  .btn--ochres:hover {
    background-color: #988C2C;
  }
}

/* =========================================================
header
========================================================= */
.header {
  position: fixed;
  inset: 0 0 auto 0;
  z-index: 200;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 12px;
  height: 80px;
}
@media screen and (min-width: 768px) {
  .header {
    height: 118px;
    padding: 30px;
  }
}

.js-header.is-open {
  background-color: white;
}

.header__logo {
  width: 154px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 250px;
  }
}
.header__logo:hover {
  opacity: 0.7;
}

.title-logo--black {
  display: none;
}

.js-title-logo.is-open {
  display: block;
}

.js-title-logo.is-open + .title-logo--white {
  display: none;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__right .hamburger {
  margin-left: 40px;
}

.header__btns {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__btns > .btn:nth-child(2) {
  margin-left: 22px;
}

.header__btns > .btn {
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
}

/* =========================================================
  header下の画像
========================================================= */
.top-title {
  width: 100%;
  height: 338px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -o-object-fit: cover;
  object-fit: cover;
  padding: 0 17px;
  margin-top: 80px;
}
@media screen and (min-width: 768px) {
  .top-title {
    margin-top: 118px;
    padding: 0 22px;
  }
}

.top-title__inner {
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
}

.top-title__main {
  background: white;
  color: #222222;
  font-weight: 300;
  font-size: 44px;
  padding: 3px 10px;
  display: inline-block;
  position: absolute;
  top: 78px;
  left: 0;
}
@media screen and (min-width: 768px) {
  .top-title__main {
    position: absolute;
    top: 58px;
    font-size: 64px;
  }
}

.top-title__ja-main {
  font-size: 20px;
  font-weight: 300;
  padding: 3px 10px;
  background: white;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 162px;
}
@media screen and (min-width: 768px) {
  .top-title__ja-main {
    position: absolute;
    top: 171px;
    font-size: 24px;
  }
}

.top-title__ja-sub {
  color: #988C2C;
  font-weight: 700;
  font-size: 14px;
  padding: 3px 10px;
  background: white;
  display: inline-block;
  position: absolute;
  top: 215px;
  left: 0;
}
@media screen and (min-width: 768px) {
  .top-title__ja-sub {
    top: 228px;
    font-size: 16px;
  }
}

.about-top-visual {
  background-image: url("../../images/about-top.jpg");
}

.details-top-visual {
  background-image: url("../../images/details-top.jpg");
}

.career-top-visual {
  background-image: url("../../images/career-top.jpg");
}

.benefits-top-visual {
  background-image: url("../../images/benefits-top.jpg");
}

.faq-top-visual {
  background-image: url("../../images/faq-top.jpg");
}

.blog-top-visual {
  background-image: url("../../images/blog-top.jpg");
}

.staff-top-visual {
  background-image: url("../../images/staff-top.jpg");
}

.bread-lists {
  background-color: #F0F0F0;
  padding: 20px 24px;
}

.bread-lists__inner > span > a > span {
  color: #222222;
  display: inline-block;
  font-size: 14px;
}

.bread-lists__inner .current-item {
  color: #222222;
  display: inline-block;
  font-size: 14px;
}

/* =========================================================
  ハンパーガー
========================================================= */
.hamburger {
  z-index: 400;
  width: 32px;
}
@media screen and (min-width: 768px) {
  .hamburger {
    width: 52px;
  }
}

.hamburger__lines {
  height: 21px;
  position: relative;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .hamburger__lines {
    height: 31px;
  }
}

.hamburger span {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #fff;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: opacity 0.2s ease, top 0.2s ease, bottom 0.2s ease, -webkit-transform 0.25s ease;
  transition: opacity 0.2s ease, top 0.2s ease, bottom 0.2s ease, -webkit-transform 0.25s ease;
  transition: transform 0.25s ease, opacity 0.2s ease, top 0.2s ease, bottom 0.2s ease;
  transition: transform 0.25s ease, opacity 0.2s ease, top 0.2s ease, bottom 0.2s ease, -webkit-transform 0.25s ease;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  top: 9px;
}
@media screen and (min-width: 768px) {
  .hamburger span:nth-child(2) {
    top: 15px;
  }
}

.hamburger span:nth-child(3) {
  bottom: 0;
}

.js-hamburger.is-open span:nth-child(1) {
  top: 9px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
@media screen and (min-width: 768px) {
  .js-hamburger.is-open span:nth-child(1) {
    top: 15px;
  }
}

.js-hamburger.is-open span:nth-child(2) {
  opacity: 0;
}

.js-hamburger.is-open span:nth-child(3) {
  bottom: auto;
  top: 9px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
@media screen and (min-width: 768px) {
  .js-hamburger.is-open span:nth-child(3) {
    top: 15px;
  }
}

.js-hamburger__lines.is-open > span {
  background-color: #222222;
}

.js-hamburger__lines.is-open + .hamburger__text {
  color: #222222;
}

.hamburger__text {
  font-size: 10px;
  color: #FAF7F1;
  text-align: center;
  font-weight: 300;
  margin-top: 5px;
}
@media screen and (min-width: 768px) {
  .hamburger__text {
    font-size: 12px;
    margin-top: 10px;
  }
}

body:not(.home) header {
  background-color: white;
}

body:not(.home) .js-hamburger__lines > span {
  background-color: #222222;
}

body:not(.home) .hamburger__text {
  color: #222222;
}

body:not(.home) .title-logo--white {
  display: none;
}

body:not(.home) .title-logo--black {
  display: block;
}

/* =========================================================
  Drawer
========================================================= */
.drawer {
  width: 100%;
  height: 100vh;
  background-color: #FAF7F1;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  z-index: 100;
  overflow: scroll;
  padding-bottom: 150px;
}
@media screen and (min-width: 768px) {
  .drawer {
    padding-bottom: 0;
  }
}

.drawer.is-open {
  display: grid;
  opacity: 1;
}

.drawer__inner {
  height: inherit;
  width: 100%;
  position: relative;
}

.gnav {
  height: inherit;
  padding: 90px 12px 53px 12px;
}
@media screen and (min-width: 768px) {
  .gnav {
    position: absolute;
    top: 52%;
    right: 9%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: auto;
    border-left: 1px solid #988C2C;
    padding: 0;
  }
}
@media screen and (min-width: 768px) and (min-width: 1024px) {
  .gnav::before {
    content: "";
    position: absolute;
    top: 50%;
    right: calc(100% + 63px);
    width: 250px;
    height: 61px;
    background: url("../../images/title-black.svg") no-repeat center/contain;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1000;
  }
}

@media screen and (min-width: 768px) {
  .gnav__col {
    width: 248px;
    border-top: 1px solid #988C2C;
  }
}

@media screen and (min-width: 768px) {
  .gnav__col:nth-child(2) {
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .gnav__cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 63px;
  }
}

.gnav__list {
  height: inherit;
}

.gnav__item {
  height: inherit;
  border-bottom: 1px solid #988C2C;
}

.gnav__link {
  display: inline-block;
  padding: 13px 0;
  color: #222222;
  height: inherit;
}
@media screen and (min-width: 768px) {
  .gnav__link {
    padding: 23px 0;
  }
}

.gnav__title {
  font-size: 18px;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  .gnav__title {
    font-size: 32px;
  }
}

.gnav__subtitle {
  font-size: 12px;
  font-weight: 700;
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .gnav__subtitle {
    font-size: 16px;
    margin-top: 11px;
  }
}

.gnav__btns {
  margin-top: 53px;
}
@media screen and (min-width: 768px) {
  .gnav__btns {
    margin-left: 63px;
  }
}

.gnav__btns > .btn {
  display: inline-block;
}

.gnav__btns > .btn:nth-child(2) {
  margin-top: 13px;
}
@media screen and (min-width: 768px) {
  .gnav__btns > .btn:nth-child(2) {
    margin-top: 0;
    margin-left: 30px;
  }
}

.footer {
  background-color: #FAF7F1;
}
@media screen and (min-width: 768px) {
  .footer {
    background-color: white;
    padding: 0 64px 64px;
  }
}

.footer__inner {
  padding-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .footer__inner {
    background-color: #FAF7F1;
    padding-bottom: 69px;
  }
}

.footer__bcg {
  position: relative;
  height: 250px;
  background-image: url("../../images/footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding-left: calc(50vw - 50%);
  padding-right: calc(50vw - 50%);
}
@media screen and (min-width: 768px) {
  .footer__bcg {
    height: 488px;
  }
}

.footer__btn-wrap {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  width: 80%;
  padding: 20px 10px 20px 10px;
  background-color: white;
  border-radius: 20px;
}
@media screen and (min-width: 768px) {
  .footer__btn-wrap {
    width: 66.5277777778%;
    padding: 50px 0;
    max-width: 958px;
    padding: 50px 24px;
  }
}

.footer__btn-txt {
  font-size: 14px;
  font-weight: 700;
  line-height: 2.5;
  text-align: center;
  color: #222222;
}
@media screen and (min-width: 768px) {
  .footer__btn-txt {
    font-size: 16px;
    line-height: 1.5;
  }
}

.footer__entry-btn {
  background-color: #988C2C;
  color: #222222;
  font-size: 14px;
  width: 200px;
  padding: 20px 0;
  display: block;
  margin: 24px auto 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media screen and (min-width: 768px) {
  .footer__entry-btn {
    margin: 31px auto 0;
    width: 58.0375782881%;
    padding: 27px 0;
    font-size: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .footer__entry-btn:hover {
    background-color: #222222;
    color: white;
  }
}

.footer__body {
  margin-top: 169px;
}
@media screen and (min-width: 768px) {
  .footer__body {
    max-width: 958px;
    margin: 200px auto 0;
    padding: 0 25px;
  }
}

@media screen and (min-width: 768px) {
  .footer__body-upper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 109px;
    -moz-column-gap: 109px;
    column-gap: 109px;
  }
}

.footer__logo {
  width: 240px;
  margin: 29px auto 0;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    margin: 0;
  }
}

.footer__logo-link {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: inherit;
}

.footer__nav {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer__nav {
    width: 60%;
  }
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 20px;
}
@media screen and (min-width: 768px) {
  .footer__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    row-gap: 41px;
    padding-top: 25px;
  }
}

.footer__link {
  display: inline-block;
  text-decoration: none;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__body-lower {
    margin-top: 61px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.footer__sns-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 55px auto 0;
  -webkit-column-gap: 16px;
  -moz-column-gap: 16px;
  column-gap: 16px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer__sns-items {
    margin: 0;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}

.footer__sns-item {
  width: 24px;
  height: 24px;
}

.footer__sns-link {
  display: inline-block;
  width: 100%;
  height: inherit;
}

.footer__copy {
  font-size: 12px;
  font-weight: 300;
  color: #999999;
  margin-top: 49px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__copy {
    margin: 0;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

/* =========================================================
共通パーツ
========================================================= */
.inner {
  padding: 0 17px;
}
@media screen and (min-width: 768px) {
  .inner {
    max-width: 1024px;
    padding: 0 34px;
    margin: 0 auto;
  }
}

.btn {
  display: block;
  text-align: center;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .md-none {
    display: none !important;
  }
}

.md-show {
  display: none !important;
}
@media screen and (min-width: 768px) {
  .md-show {
    display: block !important;
  }
}

.md-show-for-flex {
  display: none !important;
}
@media screen and (min-width: 768px) {
  .md-show-for-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}