@use "../gloval" as *;

.message-dt{
  background-color: $white;
  margin-top: 80px;
  padding-bottom: 90px;
  font-family: $noto;
  @include mq("md"){
    margin-top: 118px;
    padding-bottom: 139px;
  }
}

.message-dt__inner{
  max-width: 800px;
  margin: 32px auto 0;
  padding: 40px;
  background-color: white;
}

.message-dt__tag{
  font-size: 14px;
  font-weight: $regular;
  color: $black;
  display: inline-block;
  color: $black;
  position: relative;
  padding-left: 17px;
  @include mq("md"){

  }
}

.message-dt__tag::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 12px;
  height: 14px;
  background: url("../../images/blog-tag-img.svg") no-repeat center center / contain;
  transform: translateY(-50%);
  @include mq("md"){
    width: 14px;
    height: 14px;
  }
}

.post-categories > li > a{
  color: $black;
}

.message-dt__time{
  margin-left: 20px;
  font-size: 14px;
  font-weight: $regular;
  color: $black;
  display: inline-block;
}

.message-dt__title{
  font-size: 24px;
  font-weight: $bold;
  margin-top: 25px;
  color: $black;
  @include mq("md"){
    font-size: 32px;
  }
}

.message-dt__img-wrap{
  width: 100%;
  object-fit: cover;
  aspect-ratio: 720 / 411;
  margin-top: 40px;
  @include mq("md"){
    margin-top: 52px;
  }
}

.message-dt__img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.message-dt__txt01{
  margin-top: 45px;
  line-height: 1.8;
}

.message-dt__txt02{
  margin-top: 23px;
}

.message-dt__txt02 p{
  line-height: 1.8;
}

/* =========================================================
single.pageの前後の記事のページネーション
========================================================= */

.message-nav{
  background-color: #F0F0F0;
}

.message-nav__inner{
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
  @include mq("md"){
    padding: 38px 50px;
  }
}

.message-nav__item{
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 100%;
  column-gap: 20px;
  width: 50%;
  transition: 0.2s;
  font-weight: $regular;
  &:hover{
    opacity: 0.7;
  }
}

.message-nav__item:first-child{
  padding-right: 15px;
}

.message-nav__item:nth-child(2){
  border-left: 1px solid $black;
  justify-content: flex-end;
  padding-left: 15px;
}

.message-nav__btn{
  width: 24px;
  height: 24px;
  position: relative;
  border: 2px solid $black;
  border-radius: 50%;
}

.message-nav__btn._prev::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 55%;
  width: 7px;
  height: 7px;
  border-left: 2px solid $black;
  border-bottom: 2px solid $black;
  transform: translate(-50%,-50%) rotate(45deg);
}

.message-nav__btn._next::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 45%;
  width: 7px;
  height: 7px;
  border-right: 2px solid $black;
  border-top: 2px solid $black;
  transform: translate(-50%,-50%) rotate(45deg);
}

.message-nav__title-wrap{
  width: 80%;
}

.message-nav__title{
  font-size: 14px;
  font-weight: $regular;
  color: $black;
  @include mq("md"){
    font-size: 16px;
  }
}

.message-nav__time{
  font-size: 12px;
  font-weight: $regular;
  color: $black;
  margin-top: 6p;
}

