@use "../gloval" as *;

.message__inner{
  padding-top: 90px;
  padding-bottom: 80px;
  @include mq("md"){
    padding-top: 130px;
    padding-bottom: 139px;
  }
}
.message__cards{
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 9px;
  @include mq("lg"){
    grid-template-columns: 1fr 1fr;
    column-gap: 52px;  
  }
}

.message__card{
  display: flex;
  border-radius: 10px;
}

.message__img-wrap{
  width: 156px;
  aspect-ratio:156 / 180;
  object-fit: cover;
}

.message__body{
  padding: 9px 18px;
  display: flex;
  flex-direction: column;
  height: 100%; 
  width: calc(100% - 156px);
  background-color: $white;
  @include mq("md"){
    padding: 20px 23px;
  }
}

.message__tag{
  font-size: 12px;
  font-weight: $regular;
  position: relative;
  padding-left: 15px;
  color: $black;
  display: inline-block;
  color: $black;
  @include mq("md"){
    font-size: 14px;

  }
}

.post-categories > li > a{
  color: $black;
}

.message__tag::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 12px;
  height: 14px;
  background: url("../../images/blog-tag-img.svg") no-repeat center center / contain;
  transform: translateY(-50%);
  @include mq("md"){
    width: 14px;
    height: 14px;
  }
}

.message__txt{
  font-size: 14px;
  font-weight: $bold;
  line-height: 1.5;
  margin-top: 9px;
  color: $black;
  display: block;
  text-decoration: underline;
  text-underline-offset: 4px;
  @include mq("md"){
    font-size: 18px; 
  }
}

.message__time{
  margin-top: auto;
  font-size: 12px;
  font-weight: $regular;
  color: $black;
}

/* =========================================================
ページネーション
========================================================= */
.pagination {
  text-align: center;
  margin-top: 50px;
  @include mq("md"){
    margin-top: 98px;
  }
}

.pagination .page-numbers {
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background: #fff;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s;
  line-height: 58px;
  margin:0 16px;
}

.pagination .page-numbers:hover {
  background: $black;
  color: #fff;
  border-color: $black;
}

.pagination .page-numbers.current {
  background: $black;
  color: #fff;
  border-color: $black;
}

.pagination .prev,
.pagination .next {
  display: none;
}
