.mv {
  height: 100vh;
  width: 100%;
}

.mv__inner {
  height: inherit;
  position: relative;
}

.swiper {
  height: inherit;
}

.swiper-wrapper {
  height: inherit;
}

.swiper-slide {
  height: inherit;
}

.mv__img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
}