@charset "UTF-8";
/* =========================================================
トップページ共通パーツ
========================================================= */
.btn--large {
  width: 277px;
  padding: 23px 0;
  color: #222222;
}
@media screen and (min-width: 768px) {
  .btn--large {
    width: 355px;
    padding: 30px 0;
  }
}

.btn--white {
  background-color: white;
}

.btn--arrow {
  position: relative;
}
.btn--arrow:after {
  border-right: 3px solid #222222;
  border-top: 3px solid #222222;
  bottom: 0;
  content: "";
  height: 15px;
  margin: auto;
  position: absolute;
  right: 10%;
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 15px;
}

.btn-round {
  border-radius: 50%;
  border: 1px solid #222222;
}

.btn-round--small {
  width: 40px;
  height: 40px;
}

.btn-round--large {
  width: 58px;
  height: 58px;
}

.btn-round--arrow {
  position: relative;
}
.btn-round--arrow:before, .btn-round--arrow:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
}

.btn-round--arrow {
  position: relative;
}
.btn-round--arrow:before {
  width: 16px;
  height: 2px;
  -webkit-transform: translate(-3px, -50%);
  transform: translate(-3px, -50%);
}
.btn-round--arrow:after {
  width: 8px;
  height: 8px;
  border-left: 2px solid #222222;
  border-top: 2px solid #222222;
  -webkit-transform: translate(-9px, -50%) rotate(-45deg);
  transform: translate(-9px, -50%) rotate(-45deg);
}

.btn-round--arrow._reverse:before {
  width: 16px;
  height: 2px;
  background: currentColor;
  -webkit-transform: translate(-3px, -50%);
  transform: translate(-3px, -50%);
}
.btn-round--arrow._reverse:after {
  width: 8px;
  height: 8px;
  border-left: 2px solid #222222;
  border-top: 2px solid #222222;
  -webkit-transform: translate(-9px, -50%) rotate(-45deg);
  transform: translate(-9px, -50%) rotate(-45deg);
}

/* =========================================================
MVセクション
========================================================= */
.mv {
  height: 100vh;
  width: 100%;
  position: relative;
}

.mv__inner {
  height: inherit;
  position: relative;
}

.swiper {
  height: inherit;
}

.swiper-wrapper {
  height: inherit;
}

.swiper-slide {
  height: inherit;
}

.mv__img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
}

.mv__title {
  position: absolute;
  color: #FAF7F1;
  text-shadow: 0 4px 8px black;
  font-weight: 300;
  line-height: 1.2;
  z-index: 1;
  font-size: 48px;
  bottom: 137px;
  left: 12px;
  top: 62.0689655172vh;
}
@media screen and (min-width: 768px) {
  .mv__title {
    top: 50%;
    left: 66px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 96px;
  }
}

.mv__subtitle {
  background-color: #222222;
  color: #FAF7F1;
  text-align: center;
  position: absolute;
  left: 0;
  z-index: 1;
  padding: 9px 0;
  width: 228px;
  font-size: 12px;
  top: 82.1589205397vh;
  clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
}
@media screen and (min-width: 768px) {
  .mv__subtitle {
    font-size: 24px;
    top: 73.1470230863vh;
    width: 515px;
    padding: 17px 0;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  }
}

.news {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #222222;
  border-radius: 50px;
  z-index: 1;
  width: 93.6vw;
  top: 91.3043478261vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 48px;
  background-color: #FAF7F1;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .news {
    bottom: 38px;
    left: 66px;
    width: 87.7083333333vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 62px;
  }
}

.news__title {
  background-color: #222222;
  color: #FAF7F1;
  text-align: center;
  font-weight: 300;
  height: 100%;
  font-size: 2.6666666667vw;
  width: 14.8148148148%;
  line-height: 48px;
}
@media screen and (min-width: 768px) {
  .news__title {
    width: 15.0435471101%;
    line-height: 62px;
    font-size: 1.6666666667vw;
  }
}

.news__text {
  background-color: #FAF7F1;
  font-weight: 300;
  color: #222222;
  height: 100%;
  width: 85.1851851852%;
  line-height: 48px;
}
@media screen and (min-width: 768px) {
  .news__text {
    width: 71.7339667458%;
    font-size: 16px;
    line-height: 62;
  }
}

.news__link {
  display: none;
}
@media screen and (min-width: 768px) {
  .news__link {
    display: inline-block;
    width: 13.4600158353%;
    color: #222222;
    background-color: #FAF7F1;
    font-size: 11px;
    position: relative;
    height: 100%;
    line-height: 62px;
  }
  .news__link:after {
    border-right: 3px solid #222222;
    border-top: 3px solid #222222;
    bottom: 0;
    content: "";
    height: 10px;
    margin: auto;
    position: absolute;
    right: 14%;
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 10px;
  }
  .news__link:hover {
    opacity: 1;
  }
}

/* =========================================================
aboutセクション
========================================================= */
.about__inner {
  padding: 41px 0 71px 0;
}

.about__swiper {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding-left: calc(50vw - 50%);
  padding-right: calc(50vw - 50%);
  overflow: visible;
}

.about__card {
  width: 271px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .about__card {
    width: 508px;
  }
}

.about__card:nth-child(even) {
  margin-top: 17px;
}

.about__card-txt-wrap {
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .about__card-txt-wrap {
    bottom: 40px;
  }
}

.about__card-txt {
  background-color: white;
  color: #222222;
  font-weight: 700;
  text-align: center;
  padding: 7px 0;
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  .about__card-txt {
    font-size: 40px;
  }
}

.about__card-txt:nth-child(1) {
  width: 334px;
}
@media screen and (min-width: 768px) {
  .about__card-txt:nth-child(1) {
    width: 542px;
  }
}

.about__card-txt:nth-child(2) {
  margin: 10px auto 0;
  width: 288px;
}
@media screen and (min-width: 768px) {
  .about__card-txt:nth-child(2) {
    width: 502px;
  }
}

.about__body {
  margin-top: 105px;
  width: 100%;
  padding-bottom: 39px;
}
@media screen and (min-width: 768px) {
  .about__body {
    margin-top: 136px;
    padding-bottom: 46px;
    background: url("../../images/about-map.jpg") no-repeat center/contain;
  }
}

.about__txt {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  line-height: 2.5;
}
@media screen and (min-width: 768px) {
  .about__txt {
    font-size: 38px;
    line-height: 1.8;
  }
}

.about__txt:nth-child(1) {
  background: url("../../images/about-map.jpg") no-repeat center/contain;
}

.about__txt:nth-child(2) {
  margin-top: 39px;
}
@media screen and (min-width: 768px) {
  .about__txt:nth-child(2) {
    margin-top: 52px;
  }
}

.about__btn {
  border: 1px solid #222222;
  margin: 0 auto;
  display: block;
}

/* =========================================================
MEMBERセクション
========================================================= */