.table-title {
  font-size: 24px;
  font-size: 700;
}
@media screen and (min-width: 768px) {
  .table-title {
    font-size: 32px;
  }
}

.table {
  margin-top: 66px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .table {
    margin-top: 113px;
  }
}

.table__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 26px;
  border-bottom: 1px dotted #222222;
}
@media screen and (min-width: 768px) {
  .table__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 36px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.table__row:not(first-child) {
  padding-top: 26px;
  font-family: "Noto Sans JP", sans-serif;
}
@media screen and (min-width: 768px) {
  .table__row:not(first-child) {
    padding-top: 36px;
  }
}

.table__head {
  font-weight: 700;
  font-size: 14px;
  width: 250px;
  color: #222222;
}
@media screen and (min-width: 768px) {
  .table__head {
    font-size: 16px;
  }
}

.table__data {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  color: #222222;
}
@media screen and (min-width: 768px) {
  .table__data {
    font-size: 16px;
  }
}

.table__data:nth-child(2) {
  margin-top: 8px;
}
@media screen and (min-width: 768px) {
  .table__data:nth-child(2) {
    margin-top: 0;
  }
}

.table__link {
  text-decoration: none;
  color: #222222;
}

.benefits__container {
  padding: 128px 0 138px 0;
}

.benefits__title {
  font-size: 32px;
  font-weight: 700;
  color: #222222;
}

.benefits__items {
  margin-top: 23px;
}
@media screen and (min-width: 768px) {
  .benefits__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 46px;
    -moz-column-gap: 46px;
    column-gap: 46px;
  }
}

@media screen and (min-width: 768px) {
  .item {
    width: 50%;
  }
}

.item__year {
  color: #988C2C;
  font-size: 16px;
  font-weight: 700;
}

.item__name {
  font-size: 24px;
  font-weight: 700;
  margin-top: 13px;
  color: #222222;
}

.item__txt {
  margin-top: 25px;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 300;
  color: #222222;
}

.benefits__img-wrap {
  width: 100%;
  margin-top: 38px;
}