.table-title {
  font-size: 32px;
  font-size: 700;
}

.table {
  margin-top: 113px;
  width: 100%;
}

.table__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 36px;
  border-bottom: 1px dotted #222222;
}

.table__row:not(first-child) {
  padding-top: 36px;
  font-family: "Noto Sans JP", sans-serif;
}

.table__head {
  font-weight: 700;
  font-size: 16px;
  width: 250px;
  color: #222222;
}

.table__data {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #222222;
}

.table__link {
  text-decoration: none;
  color: #222222;
}

.benefits__container {
  padding: 128px 0 138px 0;
}

.benefits__title {
  font-size: 32px;
  font-weight: 700;
  color: #222222;
}

.benefits__items {
  margin-top: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 46px;
  -moz-column-gap: 46px;
  column-gap: 46px;
}

.item {
  width: 50%;
}

.item__year {
  color: #988C2C;
  font-size: 16px;
  font-weight: 700;
}

.item__name {
  font-size: 24px;
  font-weight: 700;
  margin-top: 13px;
  color: #222222;
}

.item__txt {
  margin-top: 25px;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 300;
  color: #222222;
}

.benefits__img-wrap {
  width: 100%;
  margin-top: 38px;
}