@use "../gloval" as *;
@use "../parts/table";
@use "../parts/scroll-btn";


.details__inner{
  padding-top: 90px;
  padding-bottom: 90px;
  @include mq("md"){
    padding-bottom: 139px;
    padding-top: 145px;
  }
}

.details__title{
  font-size: 28px;
  font-weight: $bold;
  color: $black;
  @include mq("md"){
    font-size: 32px;
  }
}

.details__txt{
  margin-top: 70px;
  font-size: 16px;
  color: $black;
  @include mq("md"){
    margin-top: 113px;
  }
}

.container:first-child{
  margin-top: 97px;
}

.container:not(:first-child){
  margin-top: 88px;
}
