@charset "UTF-8";
.contact {
  font-family: "Noto Serif JP", sans-serif;
  background-color: #FAF7F1;
  margin-top: 80px;
}
@media screen and (min-width: 768px) {
  .contact {
    margin-top: 118px;
  }
}

.sp--md10 {
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .sp--md10 {
    margin-top: 0;
  }
}

.input--appearence {
  padding: 20px;
  background-color: #FAF7F1;
  border: 1px solid #988C2C;
  border-radius: 10px;
}

.contact__inner {
  margin-top: 20px;
  background-color: white;
  padding-bottom: 90px;
}
@media screen and (min-width: 768px) {
  .contact__inner {
    padding: 58px 71px 81px;
    max-width: 880px;
    margin: 0 auto;
    margin-top: 32px;
  }
}

.contact__title-wrap {
  max-width: 510px;
  margin: 0 auto;
  padding-bottom: 95px;
}

.contact__title-eng {
  font-size: 20px;
  font-weight: 300;
  color: #222222;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
}
@media screen and (min-width: 768px) {
  .contact__title-eng {
    font-size: 24px;
  }
}

.contact__title-ja {
  font-size: 28px;
  font-weight: 700;
  color: #222222;
  margin-top: 20px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .contact__title-ja {
    font-size: 32px;
    margin-top: 29px;
  }
}

.contact__title--red, .contact__txt--red {
  color: #988C2C;
}

.contact__txt {
  margin-top: 36px;
  font-size: 14px;
  color: #222222;
}
@media screen and (min-width: 768px) {
  .contact__txt {
    font-size: 16px;
    margin-top: 51px;
  }
}

/* =========================================================
contact必要事項入力エリア
========================================================= */
.contact__body-wrap {
  padding-top: 60px;
  border-top: 1px solid #AFA86F;
}
@media screen and (min-width: 768px) {
  .contact__body-wrap {
    padding-top: 97px;
  }
}

.contact__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact__group {
  width: 100%;
  position: relative;
}
@media screen and (min-width: 768px) {
  .contact__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.contact__group:not(first-child) {
  margin-top: 27px;
}

.input--appearence {
  padding: 20px;
  background-color: #FAF7F1;
  border: 1px solid #988C2C;
  border-radius: 10px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .input--appearence {
    width: 77.9132791328%;
  }
}

.contact__label {
  font-size: 16px;
  font-weight: 300;
  color: #222222;
  width: 100%;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  .contact__label {
    width: 22.0867208672%;
  }
}

@media screen and (min-width: 768px) {
  .contact__input, .contact__select, .contact__textarea {
    margin-top: 0;
  }
}

.contact__input--year, .contact__select--month, .contact__select--day {
  width: 100%;
  position: relative;
}

.contact__input-wrap, .contact__select-wrap {
  position: relative;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .contact__input-wrap, .contact__select-wrap {
    width: 168px;
  }
}

.contact__birth-wrap {
  width: 200px;
}
@media screen and (min-width: 768px) {
  .contact__birth-wrap {
    width: auto;
  }
}

.contact__select-wrap:after {
  border-bottom: 1px solid #222222;
  border-left: 1px solid #222222;
  content: "";
  height: 9px;
  -webkit-transform: translateY(-60%) rotate(-45deg);
  transform: translateY(-60%) rotate(-45deg);
  width: 9px;
  position: absolute;
  right: 9%;
  top: 50%;
}
@media screen and (min-width: 768px) {
  .contact__select-wrap {
    margin-top: 0;
  }
  .contact__select-wrap:after {
    right: 11%;
  }
}

.contact__label::-webkit-input-placeholder {
  color: #757575;
  font-size: 16px;
  font-weight: 300;
}

.contact__label::-moz-placeholder {
  color: #757575;
  font-size: 16px;
  font-weight: 300;
}

.contact__label:-ms-input-placeholder {
  color: #757575;
  font-size: 16px;
  font-weight: 300;
}

.contact__label::-ms-input-placeholder {
  color: #757575;
  font-size: 16px;
  font-weight: 300;
}

.contact__label::placeholder {
  color: #757575;
  font-size: 16px;
  font-weight: 300;
}

.contact__field-group {
  margin-top: 27px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .contact__field-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .contact__field-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 25px;
    -moz-column-gap: 25px;
    column-gap: 25px;
  }
}

.contact__field--month, .contact__field--day {
  margin-top: 27px;
}

.contact__select {
  font-size: 14px;
  color: #222222;
}

.contact__suffix {
  display: block;
  margin-left: 10px;
}

.contact__group--job {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}

.contact__choice:not(:first-child) {
  margin-top: 18px;
}

.label--click-area {
  position: relative;
  padding-left: 30px;
}
.label--click-area::before {
  content: "";
  width: 24px;
  height: 24px;
  background-color: #FAF7F1;
  border: 1px solid #AFA86F;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  pointer-events: none;
}

.label--click-area._round::before {
  border-radius: 50%;
}

.label--click-area:has(input:checked)::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #000;
  position: absolute;
  left: 7px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.label--click-area._round:has(input:checked)::after {
  border-radius: 50%;
}

.contact__group--known {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}

.contact__group--agree {
  margin-top: 70px;
  text-align: center;
  position: relative;
}
@media screen and (min-width: 768px) {
  .contact__group--agree {
    margin-top: 99px;
  }
}

.contact__actions {
  width: 256px;
  text-align: center;
  border: 1px solid #222222;
  margin: 59px auto 0;
}

.contact__submit {
  padding: 20px 0;
  width: 100%;
  font-size: 16px;
  color: #222222;
}

.contact__submit:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* =========================================================
エラーメッセージ
========================================================= */
.form-error {
  position: absolute;
  bottom: -24px;
  color: red;
  font-size: 12px;
  left: 0;
}
@media screen and (min-width: 768px) {
  .form-error {
    left: 22.6287262873%;
    font-size: 14px;
  }
}

.contact__group--agree > .form-error {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
}

/* =========================================================
送信後の完了メッセージの非表示
========================================================= */
.wpcf7 form.sent .wpcf7-response-output {
  display: none;
}

.contact__input:focus,
.contact__textarea:focus,
.contact__select:focus,
.contact__radio-label:focus-within::before,
.contact__checkbox-label:focus-within::before,
.contact__agree-label:focus-within::before,
.contact__submit:focus {
  border: 2px solid #1e90ff;
}