@use "../gloval" as *;
@use "../parts/table";

.benefits__inner{
  padding-top: 90px;
  padding-bottom: 90px;
  @include mq("md"){
    padding-top: 145px;
    padding-bottom: 139px;
  }
}
.benefits__container{
  padding-top: 128px;
}

.benefits__title{
  font-size: 32px;
  font-weight: $bold;
  color: $black;
}

.benefits__items{
  margin-top: 23px;
  row-gap: 40px;
  display: flex;
  flex-direction: column;
  @include mq("md"){
    flex-direction: row;
    column-gap: 46px;
    row-gap: 0;
  }
}

.item{
  @include mq("md"){
  width: 50%;
  }
}

.item__year{
  color: #988C2C;
  font-size: 16px;
  font-weight: $bold;
}

.item__name{
  font-size: 24px;
  font-weight: $bold;
  margin-top: 13px;
  color: $black;
}

.item__txt{
  margin-top: 25px;
  font-size: 16px;
  line-height: 1.8;
  font-weight: $regular;
  color: $black;
}

.benefits__img-wrap{
  width: 100%;
  margin-top: 38px;
}