@use "../gloval" as *;
@use "../parts/table";

/* =========================================================
私たちが大切にしていること
========================================================= */
.about__inner{
  max-width: 980px;
  margin: 0 auto;
}

.about-title{
  margin-top: 66px;
  text-align: center;
  font-size: 32px;
  font-size: $bold;
}

.about-title._title-left{
  text-align: left;
}

.about01__items{
  margin-top: 86px;
}

.about01__item{
  padding: 30px 80px;
  background-color: $white;
}

.about01__item:not(first-child){
  margin-top: 36px;
}

.about01__item-title-wrap{
  display: flex;
  align-items: center;
}

.about01__item-num{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid $black;
  color: $black;
  font-size: 18px;
  text-align: center;
  line-height: 48px;
  font-weight: $regular;
  background-color: transparent;
  display: inline-block;
}

.about01__item-title{
  font-size: 20px;
  font-weight: $bold;
  margin-left: 14px;
}

.about01__item-txt{
  margin-top: 35px;
  line-height: 1.5;
  font-size: 18px;
  color: $black;
  font-weight: $regular;
}

/* =========================================================
代表メッセージ
========================================================= */

.about02__wrap{
  position: relative;
  display: flex;
  margin-top: 109px;
}

.about02__thumb{
  width: 50%;
}

.about02__body{
  width: 50%;
  padding: 206px 17px 0;
}

.about02__txt-main{
  position: absolute;
  top: 25px;
  right: 100px;
  font-size: 32px;
  line-height: 1.5;
  font-weight: $bold;
}

.about02__txt-sub{
  font-size: 16px;
  font-weight: $regular;
  line-height: 2;
}

.about02__txt-sub:not(first-child){
  margin-top: 32px;
}

.about02__name{
  width: 185px;
  margin-top: 21px;
}

/* =========================================================
事業紹介
========================================================= */

.about-title-sub{
  margin-top: 44px;
  font-size: 16px;
  font-weight: $bold;
  line-height: 1.5;
}

.about03__cards{
  margin-top: 82px;
}

.about03__card{
  display: flex;
  padding: 0 22px 49px;
}

.about03__card:not(first-child){
  border-top: 1px solid #988C2C;
  padding-top: 49px;
}

.about03__thumb{
  width: 50%;
  border-radius: 20px;
  overflow: hidden;
}

.about03__body{
  padding: 0 47px;
  width: 50%;
}

.about03__title{
  color: #988C2C;
  font-size: 32px;
  font-weight: $bold;
  margin-top: 22px;
}

.about03__txt-main{
  margin-top: 40px;
  font-size: 24px;
  font-weight: $bold;
}

.about03__txt-sub{
  margin-top: 40px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: $regular;
}
