@use "../gloval" as *;
@use "../parts/table";

/* =========================================================
私たちが大切にしていること
========================================================= */

.about__inner{
  padding-bottom: 90px;
  font-family: $noto;
  @include mq("md"){
    padding-bottom: 139px;
  }
}
.about-title{
  margin-top: 66px;
  text-align: center;
  font-size: 28px;
  font-size: $bold;
  @include mq("md"){
    margin-top: 66px;
    font-size: 32px;
  }
}

.about-title._title-left{
  @include mq("md"){
    text-align: left;
  }
}

.about01__items{
  margin-top: 56px;
  @include mq("md"){
    margin-top: 86px;
  }
}

.about01__item{
  padding: 30px 15px;
  background-color: $white;
  @include mq("md"){
    padding: 30px 80px;
  }
}

.about01__item:not(:first-child){
  margin-top: 26px;
  @include mq("md"){
    margin-top: 36px;
  }
}

.about01__item-title-wrap{
  display: flex;
  align-items: center;
}

.about01__item-num{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid $black;
  color: $black;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  font-weight: $regular;
  background-color: transparent;
  display: inline-block;
  @include mq("md"){
    width: 48px;
    height: 48px;
    line-height: 46px;
  }
}

.about01__item-title{
  font-size: 18px;
  font-weight: $bold;
  margin-left: 14px;
  width: 80%;
  @include mq("md"){
    font-size: 20px;
  }
}

.about01__item-txt{
  margin-top: 25px;
  line-height: 1.5;
  font-size: 16px;
  color: $black;
  font-weight: $regular;
  @include mq("md"){
    font-size: 18px;
    margin-top: 35px;
  }
}

/* =========================================================
代表メッセージ
========================================================= */

.about02__wrap{
  position: relative;
  margin-top: 60px;
  @include mq("md"){
    display: flex;
    position: relative;
    margin-top: 89px;
  }
  @include mq("lg"){
    display: flex;
    position: relative;
    margin-top: 109px;
  }
}

.about02__thumb{
  width: 70%;
  margin: 0 auto;
  aspect-ratio: 300 / 379;
  @include mq("md"){
    width: 50%;
  }
}

.about02__img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.about02__body{
  width: 100%;
  @include mq("md"){
    width: 50%;
    padding: 156px 0 0 10px;
  }
  @include mq("lg"){
   width: 50%;
    padding: 206px 17px 0;
}
}

.about02__txt-main{
  font-size: 24px;
  line-height: 1.5;
  font-weight: $bold;
  text-align: center;
  margin-top: 20px;
  @include mq("md"){
    position: absolute;
    top: 2%;
    right: 4%;
    text-align: left;
    font-size: 28px;
  }
  @include mq("lg"){
    position: absolute;
    top: 2%;
    right: 8%;
    text-align: left;
    font-size: 32px;
  }
}

.about02__txt-sub{
  font-size: 14px;
  font-weight: $regular;
  line-height: 2;
  margin-top: 18px;
  @include mq("md"){
    font-size: 16px;
  }
  @include mq("lg"){
   font-size: 16px;
   margin-top: 26px;
}
}

.about02__txt-sub:not(:first-child){
  @include mq("md"){
    margin-top: 32px;
  }
  @include mq("lg"){
   
}
}

.about02__name{
  width: 155px;
  margin-top: 18px;
  margin-left: auto;
  @include mq("md"){
    width: 185px;
    margin-top: 21px;
  }
  @include mq("lg"){
   
}
}

/* =========================================================
事業紹介
========================================================= */

.about-title-sub{
  margin-top: 36px;
  font-size: 16px;
  font-weight: $bold;
  line-height: 1.5;
  text-align: center;
  @include mq("lg"){
    font-size: 16px;
    text-align: left;
  }
}

.about03__cards{
  margin-top: 62px;
  @include mq("lg"){
    margin-top: 82px;
  }
}

.about03__card{
  @include mq("lg"){
    display: flex;
    padding: 0 22px 49px;
  }
}

.about03__card:not(first-child){
  border-top: 1px solid #988C2C;
  padding: 29px 0;
  @include mq("lg"){
    padding-top: 49px;
  }
}

.about03__thumb{
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  aspect-ratio: 457 / 281;
  @include mq("lg"){
    width: 50%;
  }
}

.about03__img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.about03__body{
  width: 100%;
  @include mq("lg"){
    width: 50%;
    padding: 0 47px;
  }
}

.about03__title{
  color: #988C2C;
  font-size: 26px;
  font-weight: $bold;
  margin-top: 18px;
  @include mq("lg"){
    font-size: 32px;
    margin-top: 22px;
  }
}

.about03__txt-main{
  margin-top: 25px;
  font-size: 20px;
  font-weight: $bold;
  @include mq("lg"){
    font-size: 24px;
    margin-top: 40px;
  }
}

.about03__txt-sub{
  margin-top: 25px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: $regular;
  @include mq("lg"){
    margin-top: 40px;
  }
}
