@use "../gloval" as *;

// ボタン共通
// headerのボタン
.btn--small{
  width: 126px;
  padding: 14px 0;
  color: $white;
}

// drawerのボタン
.btn--medium{
  width: 248px;
  padding: 14px 0;
  color: $white;
}

.btn--black{
  background-color: $black;
}

.btn--green{
  background-color: $green;
}

/* =========================================================
header
========================================================= */
.header {
  position: fixed;
  inset: 0 0 auto 0;
  z-index: map-get($zindex, header);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  height: 80px;
  @include mq("md"){
    height: 118px;
    padding: 30px;
  }
}

.header__logo {
  width: 154px;
  @include mq("md"){
    width: 250px;
  }
}

.header__right {
  display: flex;
  align-items: center;
}

.header__right .hamburger{
  margin-left: 40px;
}

.header__btns{
  align-items: center;
}

.header__btns > .btn:nth-child(2){
  margin-left: 22px;
}

.header__btns > .btn{
  font-size: 14px;
  font-weight: $bold;
  display: inline-block;
}

/* =========================================================
  header下の画像
========================================================= */

.top-title{
  width: 100%;
  margin-top: 118px;
  height: 338px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

.top-title__inner{
  max-width: 980px;
  margin: 0 auto;
  padding-top: 98px;
  position: relative;
}

.top-title__main{
  background: white;
  color: $black;
  font-size: 64px;
  font-weight: $regular;
  padding: 3px 10px;
  display: inline-block;
  position: absolute;
  top: 68px;
  left: 0;
}

.top-title__ja-main{
  font-size: 24px;
  font-weight: $regular;
  padding: 3px 10px;
  background: white;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 181px;
}

.top-title__ja-sub{
  color: #988C2C;
  font-weight: $bold;
  font-size: 16px;
  padding: 3px 10px;
  background: white;
  display: inline-block;
  position: absolute;
  top: 238px;
  left: 0;
}

.about-top-visual{
  background-image: url("../../images/about-top.jpg");
}

.detail-top-visual{
  background-image: url("../../images/details-top.jpg");
}

.career-top-visual{
  background-image: url("../../images/career-top.jpg");
}

.benefits-top-visual{
  background-image: url("../../images/benefits-top.jpg");
}

.faq-top-visual{
  background-image: url("../../images/faq-top.jpg");
}

.blog-top-visual{
  background-image: url("../../images/blog-top.jpg");
}

.staff-top-visual{
  background-image: url("../../images/staff-top.jpg");
}


/* =========================================================
  ハンパーガー
========================================================= */
.hamburger {
  z-index: map-get($zindex, hamburger);
  width: 32px;
  @include mq("md"){
   width: 52px;
  }
}

.hamburger__lines {
  height: 21px;
  position: relative;
  width: 100%;
  @include mq("md"){
   height: 31px;
 }
}

.hamburger span {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #fff;
  transform-origin: center;
  transition: transform .25s ease, opacity .2s ease, top .2s ease, bottom .2s ease;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  top: 9px;
  @include mq("md"){
    top: 15px;
  }
}

.hamburger span:nth-child(3) {
  bottom: 0;
}

.hamburger.is-open span:nth-child(1) {
  top: 9px;
  transform: rotate(45deg);
  @include mq("md"){
    top: 15px;
  }
}

.hamburger.is-open span:nth-child(2) {
  opacity: 0;
}

.hamburger.is-open span:nth-child(3) {
  bottom: auto;
  top: 9px;
  transform: rotate(-45deg);
  @include mq("md"){
    top: 15px;
  }
}

.hamburger.is-open span{
  background-color: $black;
}

.hamburger__text{
  font-size: 10px;
  color: $white;
  text-align: center;
  font-weight: $regular;
  margin-top: 5px;
  @include mq("md"){
   font-size: 12px;
   margin-top: 10px;
  }
}

/* =========================================================
  Drawer
========================================================= */

.drawer{
  width: 100%;
  height: 100vh;
  background-color: $white;
  position:fixed;
  top: 0;
  left: 0;
  display: none;
  opacity: 0;
  transition: opacity 0.25s ease;
  z-index: map-get($zindex, drawer);
}

.drawer.is-open{
  display: grid;
  opacity: 1;
}

.drawer__inner{
  height: inherit;
  width: 100%;
  position: relative;
}


.gnav{
  height: inherit;
  padding: 90px 12px 53px 12px;
  @include mq("md"){
    position: absolute;
    top: 50%;
    right: 9%;
    transform: translateY(-50%);
    height: auto;
    border-left: 1px solid $green;
    padding: 0;
    @include mq("lg"){
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: calc(100% + 63px);
        width: 250px;
        height: 61px;
        background: url("../../images/title-black.svg") no-repeat center/contain;
        transform: translateY(-50%);
        z-index: 1000;
      }
    }
  }
}

.gnav__col{
  @include mq("md"){
    width: 248px;
    border-top: 1px solid $green;
  }
}

.gnav__col:nth-child(2){
  @include mq("md"){
    margin-left: 30px;
  }
}

.gnav__cols{
  @include mq("md"){
    display: flex;
    padding-left: 63px;
    }
}

.gnav__list{
  height: inherit;
}

.gnav__item{
  height: inherit;
  border-bottom: 1px solid $green;
}

.gnav__link{
  display: inline-block;
  padding: 13px 0;
  color: $black;
  height: inherit;
  @include mq("md"){
    padding: 23px 0;
  }
}

.gnav__title{
  font-size: 18px;
  font-weight: $regular;
  @include mq("md"){
    font-size: 32px;
  }
}

.gnav__subtitle{
  font-size: 12px;
  font-weight: $bold;
  margin-top: 10px;
  @include mq("md"){
    font-size: 16px;
    margin-top: 11px;
  }
}

.gnav__btns{
  margin-top: 53px;
  @include mq("md"){
    margin-left: 63px;
  }
}

.gnav__btns > .btn{
  display: inline-block;
}

.gnav__btns > .btn:nth-child(2){
  margin-top: 13px;
  @include mq("md"){
    margin-top: 0;
    margin-left: 30px;
  }
}



