.career__inner {
  padding-bottom: 178px;
}

.career__title {
  font-size: 28px;
  font-weight: 700;
  color: #222222;
}
@media screen and (min-width: 768px) {
  .career__title {
    font-size: 32px;
  }
}

.career__txt {
  font-size: 16px;
  font-weight: 300;
}

.career__txt._upper {
  margin-top: 80px;
}
@media screen and (min-width: 768px) {
  .career__txt._upper {
    margin-top: 113px;
  }
}

.career__txt._lower {
  margin-top: 37px;
}

.career__img-wrap {
  margin-top: 48px;
  width: 100%;
}

.career__lists {
  margin-top: 89px;
}

.career__list:not(first-child) {
  margin-top: 32px;
}

.list__title {
  background-color: #AFA86F;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  color: #222222;
  padding: 10px 18px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .list__title {
    font-size: 24px;
    padding: 12px 21px;
    text-align: left;
  }
}

.list__txt {
  margin-top: 50px;
  font-size: 16px;
  font-weight: 300;
  color: #222222;
  line-height: 1.8;
}