@use "../gloval" as *;

/* =========================================================
トップページ共通パーツ
========================================================= */

// about,memberセクションのボタン
.btn--large{
  width: 277px;
  padding: 23px 0;
  color: $black;
  @include mq("md"){
    width: 355px;
    padding: 30px 0;
  }
}

.btn--white{
  background-color: white;
}

.btn--arrow{
  position: relative;
  &:after{
    border-right: 3px solid $black;
    border-top: 3px solid $black;
    bottom: 0;
    content: "";
    height: 15px;
    margin: auto;
    position: absolute;
    right: 10%;
    top: 0;
    transform: rotate(45deg);
    width: 15px;
  }
}

.btn-round{
  border-radius: 50%;
  border: 1px solid $black;
}

.btn-round--small{
  width: 40px;
  height: 40px;
}

.btn-round--large{
  width: 58px;
  height: 58px;
}

.btn-round--arrow{
  position:relative;
   &:before,&:after{
    content:""; 
    position:absolute; 
    left:50%; 
    top:50%;
  }
}

.btn-round--arrow{
  position:relative;
   &:before{
    width:16px; 
    height:2px; 
    transform:translate(-3px,-50%);
   }
   &:after{
    width:8px; 
    height:8px;
    border-left:2px solid $black; 
    border-top:2px solid $black;
    transform:translate(-9px,-50%) rotate(-45deg);
   }
}

.btn-round--arrow._reverse{
  &:before{
    width: 16px;
    height: 2px;
    background: currentColor;
    transform: translate(-3px, -50%);
  }
  &:after{
    width: 8px;
    height: 8px;
    border-left: 2px solid $black;
    border-top: 2px solid $black;
    transform: translate(-9px, -50%) rotate(-45deg);
  }
}

/* =========================================================
MVセクション
========================================================= */

.mv{
  height: 100vh;
  width: 100%;
  position: relative;
}

.mv__inner{
  height: inherit;
  position: relative;
}

.swiper{
  height: inherit;
}

.swiper-wrapper{
  height: inherit;
}

.swiper-slide{
  height: inherit;
}

.mv__img{
  object-fit: cover;
  height: 100%;
}

.mv__title{
  position: absolute;
  color: $white;
  text-shadow: 0 4px 8px black;
  font-weight: $regular;
  line-height: 1.2;
  z-index: map-get($zindex, base);
  font-size: 48px;
  bottom: 137px;
  left: 12px;
  top: vh(414, 667);
   @include mq("md"){
    top: 50%;
    left: 66px;
    transform: translateY(-50%);
    font-size: 96px;
  }
}

.mv__subtitle{
  background-color: $black;
  color: $white;
  text-align: center;
  position: absolute;
  left: 0;
   z-index: map-get($zindex, base);
  padding: 9px 0;
  width: 228px;
  font-size: 12px;
  top: vh(548,667);
  clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
  @include mq("md"){
    font-size: 24px;
    top: vh(602,823);
    width: 515px;
    padding: 17px 0;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  }
}

.news{
  position: absolute;
  display: flex;
  align-items: center;
  border: 1px solid $black;
  border-radius: 50px;
  z-index: map-get($zindex, base);
  width: vw(351,375);
  top: vh(609,667);
  left: 50%;
  transform: translateX(-50%);
  height: 48px;
  background-color: $white;
  overflow: hidden;
  @include mq("md"){
    bottom: 38px;
    left: 66px;
    width: vw(1263, 1440);
    left: 50%;
    transform: translateX(-50%);
    height: 62px;
  }
}

.news__title{
  background-color: $black;
  color: $white;
  text-align: center;
  font-weight: $regular;
  height: 100%;
  font-size: vw(10, 375);
  width: width(52,351);
  line-height: 48px;
  @include mq("md"){
    width: width(190,1263);
    line-height: 62px;
    font-size: vw(24, 1440);
  }
}

.news__text{
  background-color: $white;
  font-weight: $regular;
  color: $black;
  height: 100%;
  width: width(299,351);
  line-height: 48px;
  @include mq("md"){
    width: width(906,1263);
    font-size: 16px;
    line-height: 62;
  }
}

.news__link{
  display: none;
  @include mq("md"){
    display: inline-block;
    width: width(170,1263);
    color: $black;
    background-color: $white;
    font-size: 11px;
    position: relative;
    height: 100%;
    line-height: 62px;
    &:after{
      border-right: 3px solid $black;
      border-top: 3px solid $black;
      bottom: 0;
      content: "";
      height: 10px;
      margin: auto;
      position: absolute;
      right: 14%;
      top: 0;
      transform: rotate(45deg);
      width: 10px;
    }
    &:hover{
      opacity: 1;
    }
  }
}

/* =========================================================
aboutセクション
========================================================= */

.about__inner{
  padding: 41px 0 71px 0;
}

.about__swiper{
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding-left: calc(50vw - 50%);
  padding-right: calc(50vw - 50%);
  overflow: visible; 
}

.about__card{
  width: 271px;
  position: relative;
  @include mq("md"){
    width: 508px;
  }
}

.about__card:nth-child(even){
  margin-top: 17px;
}

.about__card-txt-wrap{
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: map-get($zindex, base);
  @include mq("md"){
    bottom: 40px;
  }
}

.about__card-txt{
  background-color: white;
  color: $black;
  font-weight: $bold;
  text-align: center;
  padding: 7px 0;
  font-size: 24px;
  @include mq("md"){
    font-size: 40px;
  }
}

.about__card-txt:nth-child(1){
  width: 334px;
  @include mq("md"){
    width: 542px;
  }
}
.about__card-txt:nth-child(2){
  margin: 10px auto 0;
  width: 288px;
  @include mq("md"){
    width: 502px;
  }
}

.about__body{
  margin-top: 105px;
  width: 100%;
  padding-bottom: 39px;
  @include mq("md"){
    margin-top: 136px;
    padding-bottom: 46px;
    background: url("../../images/about-map.jpg") no-repeat center/contain;
  }
}

.about__txt{
  font-size: 18px;
  font-weight: $bold;
  text-align: center;
  line-height: 2.5;
  @include mq("md"){
    font-size: 38px;
    line-height: 1.8;
  }
}

.about__txt:nth-child(1){
  background: url("../../images/about-map.jpg") no-repeat center/contain;
}
.about__txt:nth-child(2){
  margin-top: 39px;
  @include mq("md"){
    margin-top: 52px;
  }
}

.about__btn{
  border: 1px solid $black;
  margin: 0 auto;
  display: block;
}

/* =========================================================
MEMBERセクション
========================================================= */






