@use "../gloval" as *;
/* =========================================================
トップページ共通パーツ
========================================================= */

// 各セクションタイトル

.section-title__main-wrap{
  position: relative;
  width: 100%;
}

.section-title__main{
  font-size: 32px;
  font-weight: $bold;
  position: relative;
  @include mq("lg"){
    font-size: 52px;
  }
}

.section-title__back{
  font-size: 80px;
  color: #9797971A;
  opacity: 0.9;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left:0;
  font-family: $poppin;
  @include mq("lg"){
    font-size: 136px;
  }
}

.section-title__back._member{
  left: 0;
  @include mq("lg"){
    left: -15%;
  }
}

.section-title__back._benefits{
  left:0;
  @include mq("lg"){
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

.section-title__back._message{
  left: 0;
}

.section-title__back._recruit{
  left: 0;
  @include mq("lg"){
    left: 50%;
    transform: translate(-50%,-50%);
  }
}


.section-title--center{
  @include mq("lg"){
    margin: 0 auto;
    text-align: center;
  }
}

.section-title__main span._underline{
   text-decoration:underline;
   text-underline-offset: 7px;
   display: inline-block;
   padding-top: 5px;
   
}

.section-title__sub{
  font-size: 16px;
  margin-top: 43px;
  font-weight: $regular;
  line-height: 1.5;
  @include mq("lg"){
    margin-top: 52px;
  }
}

// about,memberセクションのボタン
.btn--large{
  width: 277px;
  padding: 23px 0;
  color: $black;
  transition: 0.2s;
  @include mq("md"){
    width: 355px;
    padding: 30px 0;
  }
  @include mq("md"){
    &:hover{
      background-color: $black;
      color: white;
    }
  }
}

.btn--white{
  background-color: white;
}

.btn--arrow{
  position: relative;
  &:after{
    border-right: 3px solid $black;
    border-top: 3px solid $black;
    bottom: 0;
    content: "";
    height: 15px;
    margin: auto;
    position: absolute;
    right: 10%;
    top: 0;
    transform: rotate(45deg);
    width: 15px;
    transition: 0.2s;
  }
  @include mq("md"){
    &:hover{
      &:after{
        border-right: 3px solid white;
        border-top: 3px solid white;
      }
    }
  }
}

.btn-round--arrow{
  display: inline-block;
  border-radius: 50%;
  border: 1px solid $black;
  position:relative;
  width: 40px;
  height: 40px;
  transition: 0.2s;
   &:before{
    content:""; 
    position:absolute; 
    left:50%; 
    top:50%;
    width:15px; 
    height:2px; 
    transform:translate(-50%,-50%);
    background: $black;
    transition: 0.2s;
  }
  &:after{
    content:""; 
    position:absolute; 
    left:55%; 
    top:50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 8px;
    height: 8px;
    transition: 0.2s;
  }
  @include mq("md"){
    width: 58px;
    height: 58px;
    &:hover{
      transform: scale(1.2);
    }
  }
}

.btn-round--arrow._left{
   &:after{
    border-right:2px solid $black; 
    border-bottom:2px solid $black;
    left:55%;
   }
}

.btn-round--arrow._right{
  &:after{
    border-left: 2px solid $black;
    border-top: 2px solid $black;
    left:45%;
  }
}

.btn-round--arrow._reverse{
  background-color: $black;
  &::before{
    background-color: white;
  }
  &::after{
    border-right:2px solid white; 
    border-bottom:2px solid white;
  }
}

/* =========================================================
MVセクション
========================================================= */

.mv{
  height: 100vh;
  width: 100%;
  position: relative;
}

.mv__inner{
  height: inherit;
  position: relative;
}

.swiper{
  height: inherit;
}


.swiper-wrapper {
  transition-timing-function: linear !important;
  height: inherit;
}

.swiper-slide{
  height: inherit;
}

.mv__img{
  object-fit: cover;
  height: 100%;
  object-position: 60%;
  @include mq("md"){
    object-position: 50% 50%;
  }
}

.mv__title{
  position: absolute;
  color: $white;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: $regular;
  line-height: 1.2;
  z-index: map-get($zindex, base);
  font-size: 48px;
  bottom: 137px;
  left: 12px;
  top: vh(414, 667);
   @include mq("md"){
    top: 50%;
    left: 66px;
    transform: translateY(-50%);
    font-size: 96px;
  }
}

.mv__subtitle{
  background-color: $black;
  color: $white;
  text-align: center;
  position: absolute;
  left: 0;
  font-family: $noto;
  z-index: map-get($zindex, base);
  padding: 9px 0;
  width: 228px;
  font-size: 12px;
  top: vh(548,667);
  clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
  @include mq("md"){
    font-size: 24px;
    top: vh(602,823);
    width: 515px;
    padding: 17px 0;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  }
}

.news{
  position: absolute;
  display: flex;
  align-items: center;
  border: 1px solid $black;
  border-radius: 50px;
  z-index: map-get($zindex, base);
  width: vw(351,375);
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  height: 48px;
  background-color: $white;
  overflow: hidden;
  @include mq("md"){
    position: absolute;
    bottom: 38px;
    left: 66px;
    width: vw(1263, 1440);
    left: 50%;
    transform: translateX(-50%);
    height: 62px;
  }
}

.news__title{
  background-color: $black;
  color: $white;
  text-align: center;
  font-weight: $regular;
  height: 100%;
  font-size: vw(10, 375);
  width: width(52,351);
  line-height: 48px;
  @include mq("md"){
    width: width(190,1263);
    line-height: 62px;
    font-size: vw(24, 1440);
  }
}

.news__text{
  background-color: $white;
  font-weight: $regular;
  color: $black;
  height: 100%;
  width: width(299,351);
  line-height: 48px;
  font-size: 12px;
  padding-left: 3%;
  @include mq("md"){
    width: width(956,1263);
    font-size: 16px;
    line-height: 62px;
    padding-left:5%;
  }
}

.news__link{
  display: none;
  @include mq("md"){
    display: inline-block;
    width: 140px;
    color: $black;
    background-color: $white;
    font-size: 14px;
    position: relative;
    height: 100%;
    line-height: 62px;
    transition: 0.2s;
    &:after{
      border-right: 2px solid $black;
      border-top: 2px solid $black;
      bottom: 0;
      content: "";
      height: 10px;
      margin: auto;
      position: absolute;
      right: 28%;
      top: 0;
      transform: rotate(45deg);
      width: 10px;
      transition: 0.2s;
    }
    &:hover{
      opacity: 1;
      font-size: 15px;
      &:after{
        right: 26%;
        width: 12px;
        height: 12px;
      }
    }
  }
}

/* =========================================================
aboutセクション
========================================================= */

.about__inner{
  padding-top: 41px;
  @include mq("md"){
    padding-top: 101px;
  }
}

.about__swiper{
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding-left: calc(50vw - 50%);
  padding-right: calc(50vw - 50%);
  overflow: hidden;
  padding-bottom: 105px;
  position: relative;
}

.about__swiper .swiper-slide * {
  pointer-events: none;
}

.about__card{
  width: 271px;
  @include mq("md"){
    width: 508px;
  }
}

.about__card:nth-child(even){
  margin-top: 17px;
}

.about__card-txt-wrap{
  position: absolute;
  bottom: 115px;
  left: 50%;
  transform: translateX(-50%);
  z-index: map-get($zindex, secondary);
  @include mq("md"){
    bottom: 118px;
  }
}

.about__card-txt{
  background-color: white;
  color: $black;
  font-weight: $bold;
  text-align: center;
  padding: 7px 0;
  font-size: 24px;
  @include mq("md"){
    font-size: 40px;
  }
}

.about__card-txt:nth-child(1){
  width: 334px;
  @include mq("md"){
    width: 542px;
  }
}
.about__card-txt:nth-child(2){
  margin: 10px auto 0;
  width: 288px;
  @include mq("md"){
    width: 502px;
  }
}

.about__body{
  width: 100%;
  padding-bottom: 39px;
  @include mq("md"){
    padding-bottom: 52px;
    background: url("../../images/about-map.jpg") no-repeat center/contain;
  }
}

.about__txt{
  font-size: 18px;
  font-weight: $bold;
  text-align: center;
  line-height: 2.5;
  @include mq("md"){
    font-size: 36px;
    line-height: 1.8;
  }
}

.about__txt:nth-child(1){
  background: url("../../images/about-map.jpg") no-repeat center/contain;
}
.about__txt:nth-child(2){
  margin-top: 39px;
  @include mq("md"){
    margin-top: 52px;
  }
}

.about__btn{
  border: 1px solid $black;
  margin: 0 auto;
  display: block;
}

/* =========================================================
memberセクション
========================================================= */

.member__inner{
  padding-top: 95px;
  @include mq("md"){
    padding-top: 163px;
  }
}
.member__slider{
  padding: 52px 0 64px 0;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding-left: calc(50vw - 50%);
  padding-right: calc(50vw - 50%);
  overflow: hidden;
  @include mq("md"){
    padding: 52px 0 80px 0;
  }
}

.member .swiper-slide{
  width: 248px !important;
  @include mq("md"){
    width: 300px !important;
  }
}

.member .swiper-slide:nth-child(even){
  margin-top: 20px;
}

.member__card-thum{
  position: relative;
  max-width: 300px;
  aspect-ratio: 300 / 379;
}

.member__card__img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.member__card-title{
  position: absolute;
  bottom: -5%;
  left: 0;
}

.member__card-text{
  font-weight: $bold;
  background: $green2;
  color: $black;
  font-size: 16px;
  width: fit-content;
  white-space: nowrap;
  padding: 0 10px;
  @include mq("md"){
    font-size: 20px;
    padding: 5px 7px;
  }
}

.member__card-text:nth-child(2){
  margin-top: 5px;
}

.member__card-body{
  margin-top: 36px;
}

.member__card-role{
  color: $black;
  margin-top: 13px;
  font-size: 12px;
  @include mq("md"){
    margin-top: 21px;
    font-size: 16px;
  }
}

.member__card-name{
  font-size: 20px;
  font-weight: $bold;
  margin-top: 14px;
  @include mq("md"){
    font-size: 24px;
    margin-top: 16px;
  }
}

.member__btns{
  position: relative;
}

.swiper__btn{
  display: flex;
}

.swiper__btns{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.swiper__btns > .btn-round--arrow:nth-child(2){
  margin-left: 20px;
}

/* =========================================================
benefits
========================================================= */

.benefits__inner{
  padding-top: 95px;
  padding-bottom: 78px;
  @include mq("md"){
    padding-top: 150px;
    padding-bottom: 107px;
  }
}

.benefits__items{
  margin-top: 114px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 36px;
  justify-content: center;
  align-items: center;
  @include mq("lg"){
    grid-template-columns: repeat(auto-fit, minmax(0, 430px));
    column-gap: 94px;
    row-gap: 0;
  }
  @include mq("md"){
    row-gap: 58px;
  }
}

.benefits__thum{
  width: 251px;
  height: 251px;
  border-radius: 50%;
  background-color: $white;
  position: relative;
  margin: 0 auto;
  &::after{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    content: "";
  }
  @include mq("md"){
    width: 430px;
    height: 430px;
    transition: transform 0.3s, opacity 0.3s;
    &:hover{
      transform: scale(1.03);
      opacity: 0.8;
    }
  }
}

.benefits__item:first-child .benefits__thum{
  &::after{
    background-image: url("../../images/benefits01.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 145px;
    aspect-ratio: 145 / 103;
  }
  @include mq("md"){
    &::after{
      width: 244px;
      aspect-ratio: 244 / 175;
    }
  }
}

.benefits__item:nth-child(2) .benefits__thum{
  &::after{
    background-image: url("../../images/benefits02.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 202px;
    aspect-ratio: 202 / 135;
  }
  @include mq("md"){
    &::after{
      width: 344px;
      aspect-ratio: 344 / 230;
    }
  }
}

.benefits__title-main{
  font-size: 24px;
  font-weight: $bold;
  position: absolute;
  bottom:-20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $green2;
  padding: 7px 7px;
  white-space: nowrap;
  text-align: center;
  color: $black;
  @include mq("md"){
    font-size: 32px;
  }
}

.benefits__title-sub{
  writing-mode: vertical-rl;
  font-size: 14px;
  font-weight: $regular;
  letter-spacing: 1.15px;
  position: absolute;
  right: 0;
  top: 0;
  color: $black;
  @include mq("md"){
    font-size: 24px; 
  }
}

.benefits__body{
  font-size: 16px;
  font-weight: $regular;
  line-height: 1.5;
  margin-top: 55px;
  color: $black;
  @include mq("xl"){
    text-align: center;
  }
}

.benefits__btn{
  position: absolute;
  right: 0;
  bottom: 22%;
  @include mq("md"){
     bottom: 20%;
  }
}

/* =========================================================
message
========================================================= */
.message{
  background-color: $white;
}

.message__inner{
  padding-top: 78px;
  position: relative;
  overflow: hidden;
  @include mq("md"){
    padding-top: 87px;
  }
}

.message__cards{
  margin-top: 43px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 9px;
  @include mq("lg"){
    grid-template-columns: 1fr 1fr;
    column-gap: 52px;  
  }
}

.message__card{
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.message__img-wrap{
  width: 156px;
  aspect-ratio:156 / 180;
}

.message__thumb{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.message__body{
  padding: 9px 18px;
  display: flex;
  flex-direction: column;
  height: 100%; 
  width: calc(100% - 156px);
  background-color: white;
  @include mq("md"){
    padding: 20px 23px;
  }
}

.message__tag{
  font-size: 12px;
  font-weight: $regular;
  position: relative;
  padding-left: 15px;
  color: $black;
  display: inline-block;
  @include mq("md"){
    font-size: 14px;

  }
}

.message__tag::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 12px;
  height: 14px;
  background: url("../../images/blog-tag-img.svg") no-repeat center center / contain;
  transform: translateY(-50%);
  @include mq("md"){
    width: 14px;
    height: 14px;
  }
}

.message__txt{
  font-size: 14px;
  font-weight: $bold;
  line-height: 1.5;
  margin-top: 9px;
  color: $black;
  display: block;
  text-decoration: underline;
  text-underline-offset: 5px;
  @include mq("md"){
    font-size: 18px; 
  }
}

.message__time{
  margin-top: auto;
  font-size: 12px;
  font-weight: $regular;
  color: $black;
}

.message__btns{
  display: flex;
  align-items: center;
  margin-top: 81px;
  @include mq("md"){
    position: absolute;
    top: 78px;
    right: 17px;
    margin-top: 0;
    transition: 0.2s;
  }
}

.message__btns{
  &:hover{
    > .message__btn-txt{
      transform: translateX(6px);
    }
  }
}
.message__btn-txt{
  font-size: 16px;
  text-decoration: underline;
  display: inline-block;
  margin-left: 6px;
  color: $black;
  transition: 0.2s;
}

/* =========================================================
recruit
========================================================= */

.recruit{
  background-color: $white;
  position: relative;
}

.recruit__inner{
  padding-top: 90px;
  padding-bottom: 88px;
  overflow: hidden;
  @include mq("md"){
    padding-top: 167px;
    padding-bottom: 139px;
  }
}

.recruit__btns{
  display: flex;
  flex-wrap: wrap;
  row-gap: 19px;
  @include mq("md"){
    column-gap: 16px;
    margin-top: 63px;
  } 
}

.recruit__btn{
  margin: 0 auto;
  font-weight: $bold;
  display: block;
  flex: 1 1 100%; 
  @include mq("md"){
    padding:50px 0;
  }
}

.recruit__btn:first-child{
  margin-top: 28px;
  @include mq("md"){
    flex: 1 1 calc(50% - 8px);
    margin-top: 0;
  }
}

.recruit__btn:nth-child(2){
  @include mq("md"){
    flex: 1 1 calc(50% - 8px);
    margin-top: 0;
  }
}

.recruit__btn:nth-child(3){
  @include mq("md"){
    flex: 1 1 100%;
  }
}













