@use "../gloval" as *;

/* =========================================================
トップページ共通パーツ
========================================================= */

// 各セクションタイトル
.section-title__main{
  font-size: 32px;
  font-weight: $bold;
  position: relative;
  &:after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 318px;
    height: 80px;
    z-index: -1;
    left: 0;
    @include mq("xl"){
      font-size: 52px;
      transform: translate(-60%,-50%);
      width: vw(540, 1440);
      max-width: 540px;
      left: auto;
    }
  }
}

.member .section-title__main{
  &:after{
     background: url("../../images/section-title-member.svg") no-repeat center/contain;
  }
}

.member .section-title__main{
  &:after{
     background: url("../../images/section-title-benefits.svg") no-repeat center/contain;
  }
}

.section-title--center{
  margin: 0 auto;
  text-align: center;
}

.section-title__main span._underline{
   text-decoration:underline;
   display: inline-block;
   padding-top: 5px;
}

.section-title__sub{
  font-size: 16px;
  margin-top: 43px;
  font-weight: $regular;
  @include mq("md"){
    margin-top: 52px;
  }
}

// about,memberセクションのボタン
.btn--large{
  width: 277px;
  padding: 23px 0;
  color: $black;
  @include mq("md"){
    width: 355px;
    padding: 30px 0;
  }
}

.btn--white{
  background-color: white;
}

.btn--arrow{
  position: relative;
  &:after{
    border-right: 3px solid $black;
    border-top: 3px solid $black;
    bottom: 0;
    content: "";
    height: 15px;
    margin: auto;
    position: absolute;
    right: 10%;
    top: 0;
    transform: rotate(45deg);
    width: 15px;
  }
}

.btn-round--small{
  width: 40px;
  height: 40px;
}

.btn-round--large{
  width: 58px;
  height: 58px;
}

.btn-round--arrow{
  display: inline-block;
  border-radius: 50%;
  border: 1px solid $black;
  position:relative;
   &:before{
    content:""; 
    position:absolute; 
    left:50%; 
    top:50%;
    width:12px; 
    height:2px; 
    transform:translate(-50%,-50%);
    background: $black;
  }
  &:after{
    content:""; 
    position:absolute; 
    left:50%; 
    top:50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 8px;
    height: 8px;
  }
}

.btn-round--arrow._origin{
   &:after{
    border-right:2px solid $black; 
    border-bottom:2px solid $black;
   }
}

.btn-round--arrow._reverse{
  &:after{
    border-left: 2px solid $black;
    border-top: 2px solid $black;
  }
}

/* =========================================================
MVセクション
========================================================= */

.mv{
  height: 100vh;
  width: 100%;
  position: relative;
}

.mv__inner{
  height: inherit;
  position: relative;
}

.swiper{
  height: inherit;
}

.swiper-wrapper{
  height: inherit;
}

.swiper-slide{
  height: inherit;
}

.mv__img{
  object-fit: cover;
  height: 100%;
}

.mv__title{
  position: absolute;
  color: $white;
  text-shadow: 0 4px 8px black;
  font-weight: $regular;
  line-height: 1.2;
  z-index: map-get($zindex, base);
  font-size: 48px;
  bottom: 137px;
  left: 12px;
  top: vh(414, 667);
   @include mq("md"){
    top: 50%;
    left: 66px;
    transform: translateY(-50%);
    font-size: 96px;
  }
}

.mv__subtitle{
  background-color: $black;
  color: $white;
  text-align: center;
  position: absolute;
  left: 0;
   z-index: map-get($zindex, base);
  padding: 9px 0;
  width: 228px;
  font-size: 12px;
  top: vh(548,667);
  clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
  @include mq("md"){
    font-size: 24px;
    top: vh(602,823);
    width: 515px;
    padding: 17px 0;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  }
}

.news{
  position: absolute;
  display: flex;
  align-items: center;
  border: 1px solid $black;
  border-radius: 50px;
  z-index: map-get($zindex, base);
  width: vw(351,375);
  top: vh(609,667);
  left: 50%;
  transform: translateX(-50%);
  height: 48px;
  background-color: $white;
  overflow: hidden;
  @include mq("md"){
    bottom: 38px;
    left: 66px;
    width: vw(1263, 1440);
    left: 50%;
    transform: translateX(-50%);
    height: 62px;
  }
}

.news__title{
  background-color: $black;
  color: $white;
  text-align: center;
  font-weight: $regular;
  height: 100%;
  font-size: vw(10, 375);
  width: width(52,351);
  line-height: 48px;
  @include mq("md"){
    width: width(190,1263);
    line-height: 62px;
    font-size: vw(24, 1440);
  }
}

.news__text{
  background-color: $white;
  font-weight: $regular;
  color: $black;
  height: 100%;
  width: width(299,351);
  line-height: 48px;
  @include mq("md"){
    width: width(906,1263);
    font-size: 16px;
    line-height: 62;
  }
}

.news__link{
  display: none;
  @include mq("md"){
    display: inline-block;
    width: width(170,1263);
    color: $black;
    background-color: $white;
    font-size: 11px;
    position: relative;
    height: 100%;
    line-height: 62px;
    &:after{
      border-right: 3px solid $black;
      border-top: 3px solid $black;
      bottom: 0;
      content: "";
      height: 10px;
      margin: auto;
      position: absolute;
      right: 14%;
      top: 0;
      transform: rotate(45deg);
      width: 10px;
    }
    &:hover{
      opacity: 1;
    }
  }
}

/* =========================================================
aboutセクション
========================================================= */

.about__inner{
  padding: 41px 0 71px 0;
}

.about__swiper{
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding-left: calc(50vw - 50%);
  padding-right: calc(50vw - 50%);
  overflow: hidden;
  padding-bottom: 105px; 
}

.about__card{
  width: 271px;
  position: relative;
  @include mq("md"){
    width: 508px;
  }
}

.about__card:nth-child(even){
  margin-top: 17px;
}

.about__card-txt-wrap{
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: map-get($zindex, base);
  @include mq("md"){
    bottom: 40px;
  }
}

.about__card-txt{
  background-color: white;
  color: $black;
  font-weight: $bold;
  text-align: center;
  padding: 7px 0;
  font-size: 24px;
  @include mq("md"){
    font-size: 40px;
  }
}

.about__card-txt:nth-child(1){
  width: 334px;
  @include mq("md"){
    width: 542px;
  }
}
.about__card-txt:nth-child(2){
  margin: 10px auto 0;
  width: 288px;
  @include mq("md"){
    width: 502px;
  }
}

.about__body{
  width: 100%;
  padding-bottom: 39px;
  @include mq("md"){
    margin-top: 136px;
    padding-bottom: 46px;
    background: url("../../images/about-map.jpg") no-repeat center/contain;
  }
}

.about__txt{
  font-size: 18px;
  font-weight: $bold;
  text-align: center;
  line-height: 2.5;
  @include mq("md"){
    font-size: 38px;
    line-height: 1.8;
  }
}

.about__txt:nth-child(1){
  background: url("../../images/about-map.jpg") no-repeat center/contain;
}
.about__txt:nth-child(2){
  margin-top: 39px;
  @include mq("md"){
    margin-top: 52px;
  }
}

.about__btn{
  border: 1px solid $black;
  margin: 0 auto;
  display: block;
}

/* =========================================================
MEMBERセクション
========================================================= */

.member__inner{
  padding-top: 71px;
  @include mq("md"){
    padding-top: 86px;
  }
}

.member__slider{
  padding: 52px 0 64px 0;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding-left: calc(50vw - 50%);
  padding-right: calc(50vw - 50%);
  overflow: hidden;
  @include mq("md"){
    padding: 52px 0 80px 0;
  }
}

.member .swiper-slide{
  width: 248px !important;
  @include mq("md"){
    width: 300px !important;
  }
}

.member .swiper-slide:nth-child(even){
  margin-top: 20px;
}

.member__card-thum{
  position: relative;
}

.member__card-title{
  position: absolute;
  bottom: -5%;
  left: 0;
}

.member__card-text{
  font-weight: $bold;
  background: $green;
  color: $black;
  font-size: 16px;
  @include mq("md"){
    font-size: 20px;
    padding: 5px 7px;
  }
}

.member__card-text:nth-child(2){
  margin-top: 5px;
}

.member__card-body{
  margin-top: 36px;
}

.member__card-role{
  color: $black;
  margin-top: 13px;
  font-size: 12px;
  @include mq("md"){
    margin-top: 21px;
    font-size: 16px;
  }
}

.member__card-name{
  font-size: 20px;
  font-weight: $bold;
  margin-top: 14px;
  @include mq("md"){
    font-size: 24px;
    margin-top: 16px;
  }
}

.member__btns{
  position: relative;
}

.swiper__btn{
  display: flex;
}

.swiper__btns{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.member__btns.btn-round--arrow:nth-child(2){
  margin-left: 20px;
}

/* =========================================================
benefits
========================================================= */

.benefits__items{
  margin-top: 114px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 36px;
  column-gap: 0;
  justify-content: center;
  align-items: center;
  @include mq("md"){
    grid-template-columns: repeat(auto-fit, minmax(0, 430px));
    column-gap: 94px;
    row-gap: 0;
  }
}

.benefits__thum{
  width: 251px;
  height: 251px;
  border-radius: 50%;
  background-color: $white;
  position: relative;
  margin: 0 auto;
  &::after{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    content: "";
  }
  @include mq("md"){
    width: 430px;
    height: 430px;
  }
}

.benefits__item:first-child .benefits__thum{
  &::after{
    background-image: url("../../images/benefits01.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 145px;
    aspect-ratio: 145 / 103;
  }
  @include mq("md"){
    &::after{
      width: 244px;
      aspect-ratio: 244 / 175;
    }
  }
}

.benefits__item:nth-child(2) .benefits__thum{
  &::after{
    background-image: url("../../images/benefits02.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 202px;
    aspect-ratio: 202 / 135;
  }
  @include mq("md"){
    &::after{
      width: 344px;
      aspect-ratio: 344 / 230;
    }
  }
}






